					<!doctype html>
<html class="no-js" lang="">
  <head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Torneo de Futbol Para Socios de San Lorenzo</title>
    <link rel="shortcut icon" href="favicon.ico">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
     <link rel="stylesheet" href="vendor.css">       
     <link rel="stylesheet" href="style.css">   
     <link rel="stylesheet" type="text/css" href="css/layerslider.css">
    <script src="js/vendor/modernizr.js"></script>    
  </head>
  <body>
    <!--[if lt IE 10]>
      <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    <div class="wrapper">
      <!-- header -->
      <header class="header-main">
        <div class="header-lower clearfix">
			<%- include menu.ejs %>
        </div>  
</header>

       <!-- banner section -->
      <div class="innerbannerwrap">
        <div class="content"></div>
        <div class="innerbannerfairplay">
          <h2 class="bannerHeadline">Zona1 <span>Sergio Villar</span></h2>
        </div>
      </div>

      <section class="innerpage_all_wrap bg-white"> 
        <div class="container">
			<div class="row">
			<div class="matchSchedule_details row">
                  <!-- fixture -->  
              <div class="matchSchedule_details row">
                <div class="match_versus-wrap ">
                  <div class="wrap_match-innerdetails">
                    <ul class="home_tInfo scrollable">
                      <li>
                        <a href="#">
                          <ul class="t_info match_info01 headline01 clearfix">
                            <li >-</li>
                            <li>
                              <div class="headline01 clearfix"><span>30 de Noviembre </span><span class="vs">vs</span> <span>13 de Agosto</span></div>
                              <div class="paragraph02 clearfix">
                                <span>-</span>
                                <span>-</span>
								<span>-</span>
                                
                              </div>
                            </li>
                            <li >-</li>
                          </ul>
                        </a>
                      </li>
                      <li>
                        <a href="#">
                          <ul class="t_info match_info01 headline01 clearfix">
                            <li >-</li>
                            <li>
                              <div class="headline01 clearfix"><span>Los Colas e Av. La Plata  </span><span class="vs">vs</span> Boedo F.C. </div>
                              <div class="paragraph02 clearfix">
                                <span>-</span>
                                <span>-</span>
								<span>-</span>
                                
                              </div>
                            </li>
                            <li >-</li>
                          </ul>
                        </a>
                      </li>
                      <li>
                        <a href="#">
                          <ul class="t_info match_info01 headline01 clearfix">
                            <li >-</li>
                            <li>
                              <div class="headline01 clearfix"><span>Gauchos  </span><span class="vs">vs</span> <span>El Falcón de Ramón</span></div>
                              <div class="paragraph02 clearfix">
                                <span>- </span>
                                <span>-</span>
								<span>-</span>
                                
                              </div>
                            </li>
                            <li >-</li>
                          </ul>
                        </a>
                      </li>
                      <li>
                        <a href="#">
                          <ul class="t_info match_info01 headline01 clearfix">
                            <li >-</li>
                            <li>
                              <div class="headline01 clearfix"><span>Lorenzo Massa F.C. </span><span class="vs">vs</span> <span>Donde éstes estré </span></div>
                              <div class="paragraph02 clearfix">
                                <span>- </span>
                                <span>-</span>
								<span>-</span>
                                
                              </div>
                            </li>
                            <li >-</li>
                          </ul>
                        </a>
                      </li>
                        <li>
                        <a href="#">
                          <ul class="t_info match_info01 headline01 clearfix">
                            <li >-</li>
                            <li>
                              <div class="headline01 clearfix"><span>Los Cuervos del pasaje </span> <span class="vs">vs</span> <span>Forzosos </span></div>
                              <div class="paragraph02 clearfix">
                                <span>- </span>
                                <span>-</span>
								<span>-</span>
                                
                              </div>
                            </li>
                            <li >-</li>
                          </ul>
                        </a>
                      </li>
                       <li>
                        <a href="#">
                          <ul class="t_info match_info01 headline01 clearfix">
                            <li >-</li>
                            <li>
                              <div class="headline01 clearfix"><span>Los Carasucias </span><span class="vs">vs</span> <span>Camboyanos </span></div>
                              <div class="paragraph02 clearfix">
                                <span>- </span>
                                <span>-</span>
								<span>-</span>
                                
                              </div>
                            </li>
                            <li >-</li>
                          </ul>
                        </a>
                      </li>
                    </ul>
                  </div>  
                </div> 
				<div class="match_next">
                  <div class="wrap_match_next left_triangle ">
                    <div class="left_padding">
                      <h4 class="headline03">Zona 1 <br/> Fecha 1</h4>
                      
                    </div>  
                  </div>  
                </div>
				    </div>
					    <!-- fixture -->  
              <div class="matchSchedule_details row">
                <div class="match_versus-wrap ">
                  <div class="wrap_match-innerdetails">
                    <ul class="home_tInfo scrollable">
                      <li>
                        <a href="#">
                          <ul class="t_info match_info01 headline01 clearfix">
                            <li >-</li>
                            <li>
                              <div class="headline01 clearfix"><span>Boedo F.C </span><span class="vs">vs</span> <span>13 de Agosto</span></div>
                              <div class="paragraph02 clearfix">
                                <span>-</span>
                                <span>-</span>
								<span>-</span>
                                
                              </div>
                            </li>
                            <li >-</li>
                          </ul>
                        </a>
                      </li>
                      <li>
                        <a href="#">
                          <ul class="t_info match_info01 headline01 clearfix">
                            <li >-</li>
                            <li>
                              <div class="headline01 clearfix"><span>Gauchos  </span><span class="vs">vs</span> Forzosos </div>
                              <div class="paragraph02 clearfix">
                                <span>-</span>
                                <span>-</span>
								<span>-</span>
                                
                              </div>
                            </li>
                            <li >-</li>
                          </ul>
                        </a>
                      </li>
                      <li>
                        <a href="#">
                          <ul class="t_info match_info01 headline01 clearfix">
                            <li >-</li>
                            <li>
                              <div class="headline01 clearfix"><span>Lorenzo Massa F.C.  </span><span class="vs">vs</span> <span>El falcón de Ramón</span></div>
                              <div class="paragraph02 clearfix">
                                <span>- </span>
                                <span>-</span>
								<span>-</span>
                                
                              </div>
                            </li>
                            <li >-</li>
                          </ul>
                        </a>
                      </li>
                      <li>
                        <a href="#">
                          <ul class="t_info match_info01 headline01 clearfix">
                            <li >-</li>
                            <li>
                              <div class="headline01 clearfix"><span>Los Carasucias </span><span class="vs">vs</span> <span>Donde éstes estaré</span></div>
                              <div class="paragraph02 clearfix">
                                <span>- </span>
                                <span>-</span>
								<span>-</span>
                                
                              </div>
                            </li>
                            <li >-</li>
                          </ul>
                        </a>
                      </li>
                        <li>
                        <a href="#">
                          <ul class="t_info match_info01 headline01 clearfix">
                            <li >-</li>
                            <li>
                              <div class="headline01 clearfix"><span>Los Cuervos de Av. La Plata</span> <span class="vs">vs</span> <span>Camboyanos </span></div>
                              <div class="paragraph02 clearfix">
                                <span>- </span>
                                <span>-</span>
								<span>-</span>
                                
                              </div>
                            </li>
                            <li >-</li>
                          </ul>
                        </a>
                      </li>
                       <li>
                        <a href="#">
                          <ul class="t_info match_info01 headline01 clearfix">
                            <li >-</li>
                            <li>
                              <div class="headline01 clearfix"><span>Los Cuervos del Pasaje  </span><span class="vs">vs</span> <span>30 de noviembre</span></div>
                              <div class="paragraph02 clearfix">
                                <span>- </span>
                                <span>-</span>
								<span>-</span>
                                
                              </div>
                            </li>
                            <li >-</li>
                          </ul>
                        </a>
                      </li>
                    </ul>
                  </div>  
                </div> 
				<div class="match_next">
                  <div class="wrap_match_next left_triangle ">
                    <div class="left_padding">
                      <h4 class="headline03">Zona 1 <br/> Fecha 2</h4>
                      
                    </div>  
                  </div>  
                </div>
				    </div>
					    <!-- fixture -->  
              <div class="matchSchedule_details row">
                <div class="match_versus-wrap ">
                  <div class="wrap_match-innerdetails">
                    <ul class="home_tInfo scrollable">
                      <li>
                        <a href="#">
                          <ul class="t_info match_info01 headline01 clearfix">
                            <li >-</li>
                            <li>
                              <div class="headline01 clearfix"><span>Boedo F.C </span><span class="vs">vs</span> <span>30 de noviembre </span></div>
                              <div class="paragraph02 clearfix">
                                <span>-</span>
                                <span>-</span>
								<span>-</span>
                                
                              </div>
                            </li>
                            <li >-</li>
                          </ul>
                        </a>
                      </li>
                      <li>
                        <a href="#">
                          <ul class="t_info match_info01 headline01 clearfix">
                            <li >-</li>
                            <li>
                              <div class="headline01 clearfix"><span>Camboyanos </span><span class="vs">vs</span> 13 de agosto</div>
                              <div class="paragraph02 clearfix">
                                <span>-</span>
                                <span>-</span>
								<span>-</span>
                                
                              </div>
                            </li>
                            <li >-</li>
                          </ul>
                        </a>
                      </li>
                      <li>
                        <a href="#">
                          <ul class="t_info match_info01 headline01 clearfix">
                            <li >-</li>
                            <li>
                              <div class="headline01 clearfix"><span>Lorenzo Massa F.C.  </span><span class="vs">vs</span> <span>Forzosos</span></div>
                              <div class="paragraph02 clearfix">
                                <span>- </span>
                                <span>-</span>
								<span>-</span>
                                
                              </div>
                            </li>
                            <li >-</li>
                          </ul>
                        </a>
                      </li>
                      <li>
                        <a href="#">
                          <ul class="t_info match_info01 headline01 clearfix">
                            <li >-</li>
                            <li>
                              <div class="headline01 clearfix"><span>Los Cuervos el pasaje</span><span class="vs">vs</span> <span>Gauchos </span></div>
                              <div class="paragraph02 clearfix">
                                <span>- </span>
                                <span>-</span>
								<span>-</span>
                                
                              </div>
                            </li>
                            <li >-</li>
                          </ul>
                        </a>
                      </li>
                        <li>
                        <a href="#">
                          <ul class="t_info match_info01 headline01 clearfix">
                            <li >-</li>
                            <li>
                              <div class="headline01 clearfix"><span>Los Carasucias </span> <span class="vs">vs</span> <span>El Falcón de Ramón</span></div>
                              <div class="paragraph02 clearfix">
                                <span>- </span>
                                <span>-</span>
								<span>-</span>
                                
                              </div>
                            </li>
                            <li >-</li>
                          </ul>
                        </a>
                      </li>
                       <li>
                        <a href="#">
                          <ul class="t_info match_info01 headline01 clearfix">
                            <li >-</li>
                            <li>
                              <div class="headline01 clearfix"><span>Los Colas de Av. La plata </span><span class="vs">vs</span> <span>Donde éstes estaré</span></div>
                              <div class="paragraph02 clearfix">
                                <span>- </span>
                                <span>-</span>
								<span>-</span>
                                
                              </div>
                            </li>
                            <li >-</li>
                          </ul>
                        </a>
                      </li>
                    </ul>
                  </div>  
                </div> 
				<div class="match_next">
                  <div class="wrap_match_next left_triangle ">
                    <div class="left_padding">
                      <h4 class="headline03">Zona 1 <br/> Fecha 3</h4>
                      
                    </div>  
                  </div>  
                </div>
				    </div>
					    <!-- fixture -->
					    <div class="matchSchedule_details row">
					      <div class="match_versus-wrap ">
					        <div class="wrap_match-innerdetails">
					          <ul class="home_tInfo scrollable">
					            <li> <a href="#">
					              <ul class="t_info match_info01 headline01 clearfix">
					                <li >6</li>
					                <li>
					                  <div class="headline01 clearfix"><span>Los Cuervo del Pasaje </span><span class="vs">vs</span> <span>Boedo F.C. </span></div>
					                  <div class="paragraph02 clearfix"> <span>-</span> <span>-</span> <span>-</span></div>
				                    </li>
					                <li >0</li>
				                </ul>
					              </a></li>
					            <li> <a href="#">
					              <ul class="t_info match_info01 headline01 clearfix">
					                <li >0</li>
					                <li>
					                  <div class="headline01 clearfix"><span>Camboyanos </span><span class="vs">vs</span> 30 de Noviembre </div>
					                  <div class="paragraph02 clearfix"> <span>-</span> <span>-</span> <span>-</span></div>
				                    </li>
					                <li >3</li>
				                </ul>
					              </a></li>
					            <li> <a href="#">
					              <ul class="t_info match_info01 headline01 clearfix">
					                <li >2</li>
					                <li>
					                  <div class="headline01 clearfix"><span>Donde estés estaré </span><span class="vs">vs</span> <span>13 de Agosto</span></div>
					                  <div class="paragraph02 clearfix"> <span>- </span> <span>-</span> <span>-</span></div>
				                    </li>
					                <li >1</li>
				                </ul>
					              </a></li>
					            <li> <a href="#">
					              <ul class="t_info match_info01 headline01 clearfix">
					                <li >8</li>
					                <li>
					                  <div class="headline01 clearfix"><span>Lorenzo Massa F.C. </span><span class="vs">vs</span> <span>Gauchos </span></div>
					                  <div class="paragraph02 clearfix"> <span>- </span> <span>-</span> <span>-</span></div>
				                    </li>
					                <li >2</li>
				                </ul>
					              </a></li>
					            <li> <a href="#">
					              <ul class="t_info match_info01 headline01 clearfix">
					                <li >2</li>
					                <li>
					                  <div class="headline01 clearfix"><span>Los Carasucias </span> <span class="vs">vs</span> <span>Forzosos </span></div>
					                  <div class="paragraph02 clearfix"> <span>- </span> <span>-</span> <span>-</span></div>
				                    </li>
					                <li >0</li>
				                </ul>
					              </a></li>
					            <li> <a href="#">
					              <ul class="t_info match_info01 headline01 clearfix">
					                <li >1</li>
					                <li>
					                  <div class="headline01 clearfix"><span>Los Colas de Av. La Plata</span><span class="vs">vs</span> <span>El Falcón de Ramón </span></div>
					                  <div class="paragraph02 clearfix"> <span>- </span> <span>-</span> <span>-</span></div>
				                    </li>
					                <li >1</li>
				                </ul>
					              </a></li>
				              </ul>
				            </div>
				          </div>
					      <div class="match_next">
					        <div class="wrap_match_next left_triangle ">
					          <div class="left_padding">
					            <h4 class="headline03">Zona 1 <br/>
					              Fecha 4</h4>
				              </div>
				            </div>
				          </div>
		      </div>
					    <!-- fixture -->  
              <div class="matchSchedule_details row">
                <div class="match_versus-wrap ">
                  <div class="wrap_match-innerdetails">
                    <ul class="home_tInfo scrollable">
                      <li>
                        <a href="#">
                          <ul class="t_info match_info01 headline01 clearfix">
                            <li >-</li>
                            <li>
                              <div class="headline01 clearfix"><span>Camboyanos </span><span class="vs">vs</span> <span>Boedo F.C. </span></div>
                              <div class="paragraph02 clearfix">
                                <span>-</span>
                                <span>-</span>
								<span>-</span>
                                
                              </div>
                            </li>
                            <li >-</li>
                          </ul>
                        </a>
                      </li>
                      <li>
                        <a href="#">
                          <ul class="t_info match_info01 headline01 clearfix">
                            <li >-</li>
                            <li>
                              <div class="headline01 clearfix"><span>Donde estés estaré  </span><span class="vs">vs</span>30 de noviembre </div>
                              <div class="paragraph02 clearfix">
                                <span>-</span>
                                <span>-</span>
								<span>-</span>
                                
                              </div>
                            </li>
                            <li >-</li>
                          </ul>
                        </a>
                      </li>
                      <li>
                        <a href="#">
                          <ul class="t_info match_info01 headline01 clearfix">
                            <li >-</li>
                            <li>
                              <div class="headline01 clearfix"><span>El Falcón de Ramón  </span><span class="vs">vs</span> <span>13 de Agosto</span></div>
                              <div class="paragraph02 clearfix">
                                <span>- </span>
                                <span>-</span>
								<span>-</span>
                                
                              </div>
                            </li>
                            <li >-</li>
                          </ul>
                        </a>
                      </li>
                      <li>
                        <a href="#">
                          <ul class="t_info match_info01 headline01 clearfix">
                            <li >-</li>
                            <li>
                              <div class="headline01 clearfix"><span>Los Carasucias </span><span class="vs">vs</span> <span>Gauchos </span></div>
                              <div class="paragraph02 clearfix">
                                <span>- </span>
                                <span>-</span>
								<span>-</span>
                                
                              </div>
                            </li>
                            <li >-</li>
                          </ul>
                        </a>
                      </li>
                        <li>
                        <a href="#">
                          <ul class="t_info match_info01 headline01 clearfix">
                            <li >-</li>
                            <li>
                              <div class="headline01 clearfix"><span>Los Colas de Av. La plata</span> <span class="vs">vs</span> <span>Forzozos</span></div>
                              <div class="paragraph02 clearfix">
                                <span>- </span>
                                <span>-</span>
								<span>-</span>
                                
                              </div>
                            </li>
                            <li >-</li>
                          </ul>
                        </a>
                      </li>
                       <li>
                        <a href="#">
                          <ul class="t_info match_info01 headline01 clearfix">
                            <li >-</li>
                            <li>
                              <div class="headline01 clearfix"><span>Los Cuervos del Pasaje  </span><span class="vs">vs</span> <span>Lorenzo Massa F.C.</span></div>
                              <div class="paragraph02 clearfix">
                                <span>- </span>
                                <span>-</span>
								<span>-</span>
                                
                              </div>
                            </li>
                            <li >-</li>
                          </ul>
                        </a>
                      </li>
                    </ul>
                  </div>  
                </div> 
				<div class="match_next">
                  <div class="wrap_match_next left_triangle ">
                    <div class="left_padding">
                      <h4 class="headline03">Zona 1 <br/> Fecha 5</h4>
                      
                    </div>  
                  </div>  
                </div>
				    </div>
					    <!-- fixture -->  
              <div class="matchSchedule_details row">
                <div class="match_versus-wrap ">
                  <div class="wrap_match-innerdetails">
                    <ul class="home_tInfo scrollable">
                      <li>
                        <a href="#">
                          <ul class="t_info match_info01 headline01 clearfix">
                            <li >-</li>
                            <li>
                              <div class="headline01 clearfix"><span>Donde estés estaré  </span><span class="vs">vs</span> <span>Boedo F.C. </span></div>
                              <div class="paragraph02 clearfix">
                                <span>-</span>
                                <span>-</span>
								<span>-</span>
                                
                              </div>
                            </li>
                            <li >-</li>
                          </ul>
                        </a>
                      </li>
                      <li>
                        <a href="#">
                          <ul class="t_info match_info01 headline01 clearfix">
                            <li >-</li>
                            <li>
                              <div class="headline01 clearfix"><span>El Falcón de Ramón  </span><span class="vs">vs</span>30 de Noviembre </div>
                              <div class="paragraph02 clearfix">
                                <span>-</span>
                                <span>-</span>
								<span>-</span>
                                
                              </div>
                            </li>
                            <li >-</li>
                          </ul>
                        </a>
                      </li>
                      <li>
                        <a href="#">
                          <ul class="t_info match_info01 headline01 clearfix">
                            <li >-</li>
                            <li>
                              <div class="headline01 clearfix"><span>Forzosos </span><span class="vs">vs</span> <span>13 de agosto </span></div>
                              <div class="paragraph02 clearfix">
                                <span>- </span>
                                <span>-</span>
								<span>-</span>
                                
                              </div>
                            </li>
                            <li >-</li>
                          </ul>
                        </a>
                      </li>
                      <li>
                        <a href="#">
                          <ul class="t_info match_info01 headline01 clearfix">
                            <li >-</li>
                            <li>
                              <div class="headline01 clearfix"><span>Los Carasucias</span><span class="vs">vs</span> <span>Lorenzo Massa F.C. </span></div>
                              <div class="paragraph02 clearfix">
                                <span>- </span>
                                <span>-</span>
								<span>-</span>
                                
                              </div>
                            </li>
                            <li >-</li>
                          </ul>
                        </a>
                      </li>
                        <li>
                        <a href="#">
                          <ul class="t_info match_info01 headline01 clearfix">
                            <li >-</li>
                            <li>
                              <div class="headline01 clearfix"><span>Los Colas de Av. La plata</span> <span class="vs">vs</span> <span>Gauchos </span></div>
                              <div class="paragraph02 clearfix">
                                <span>- </span>
                                <span>-</span>
								<span>-</span>
                                
                              </div>
                            </li>
                            <li >-</li>
                          </ul>
                        </a>
                      </li>
                       <li>
                        <a href="#">
                          <ul class="t_info match_info01 headline01 clearfix">
                            <li >-</li>
                            <li>
                              <div class="headline01 clearfix"><span>Los cuervos del Pasaje </span><span class="vs">vs</span> <span>Camboyanos</span></div>
                              <div class="paragraph02 clearfix">
                                <span>- </span>
                                <span>-</span>
								<span>-</span>
                                
                              </div>
                            </li>
                            <li >-</li>
                          </ul>
                        </a>
                      </li>
                    </ul>
                  </div>  
                </div> 
				<div class="match_next">
                  <div class="wrap_match_next left_triangle ">
                    <div class="left_padding">
                      <h4 class="headline03">Zona 1 <br/> Fecha 6</h4>
                      
                    </div>  
                  </div>  
                </div>
				    </div>
					    <!-- fixture -->  
              <div class="matchSchedule_details row">
                <div class="match_versus-wrap ">
                  <div class="wrap_match-innerdetails">
                    <ul class="home_tInfo scrollable">
                      <li>
                        <a href="#">
                          <ul class="t_info match_info01 headline01 clearfix">
                            <li >-</li>
                            <li>
                              <div class="headline01 clearfix"><span>Donde estés estaré </span><span class="vs">vs</span> <span>Camboyanos</span></div>
                              <div class="paragraph02 clearfix">
                                <span>-</span>
                                <span>-</span>
								<span>-</span>
                                
                              </div>
                            </li>
                            <li >-</li>
                          </ul>
                        </a>
                      </li>
                      <li>
                        <a href="#">
                          <ul class="t_info match_info01 headline01 clearfix">
                            <li >-</li>
                            <li>
                              <div class="headline01 clearfix"><span>El Falcón de Ramón  </span><span class="vs">vs</span> Boedo F.C.</div>
                              <div class="paragraph02 clearfix">
                                <span>-</span>
                                <span>-</span>
								<span>-</span>
                                
                              </div>
                            </li>
                            <li >-</li>
                          </ul>
                        </a>
                      </li>
                      <li>
                        <a href="#">
                          <ul class="t_info match_info01 headline01 clearfix">
                            <li >-</li>
                            <li>
                              <div class="headline01 clearfix"><span>Forzosos</span><span class="vs">vs</span> <span>30 de noviembre </span></div>
                              <div class="paragraph02 clearfix">
                                <span>- </span>
                                <span>-</span>
								<span>-</span>
                                
                              </div>
                            </li>
                            <li >-</li>
                          </ul>
                        </a>
                      </li>
                      <li>
                        <a href="#">
                          <ul class="t_info match_info01 headline01 clearfix">
                            <li >-</li>
                            <li>
                              <div class="headline01 clearfix"><span>Gauchos</span><span class="vs">vs</span> <span>13 de Agosto</span></div>
                              <div class="paragraph02 clearfix">
                                <span>- </span>
                                <span>-</span>
								<span>-</span>
                                
                              </div>
                            </li>
                            <li >-</li>
                          </ul>
                        </a>
                      </li>
                        <li>
                        <a href="#">
                          <ul class="t_info match_info01 headline01 clearfix">
                            <li >-</li>
                            <li>
                              <div class="headline01 clearfix"><span>Los Colas de Av. La Plata</span> <span class="vs">vs</span> <span>Lorenzo Massa F.C. </span></div>
                              <div class="paragraph02 clearfix">
                                <span>- </span>
                                <span>-</span>
								<span>-</span>
                                
                              </div>
                            </li>
                            <li >-</li>
                          </ul>
                        </a>
                      </li>
                       <li>
                        <a href="#">
                          <ul class="t_info match_info01 headline01 clearfix">
                            <li >-</li>
                            <li>
                              <div class="headline01 clearfix"><span>Los Cuervos del Pasaje  </span><span class="vs">vs</span> <span>Los carasucias</span></div>
                              <div class="paragraph02 clearfix">
                                <span>- </span>
                                <span>-</span>
								<span>-</span>
                                
                              </div>
                            </li>
                            <li >-</li>
                          </ul>
                        </a>
                      </li>
                    </ul>
                  </div>  
                </div> 
				<div class="match_next">
                  <div class="wrap_match_next left_triangle ">
                    <div class="left_padding">
                      <h4 class="headline03">Zona 1 <br/> Fecha 7</h4>
                      
                    </div>  
                  </div>  
                </div>
				    </div>
					    <!-- fixture -->  
              <div class="matchSchedule_details row">
                <div class="match_versus-wrap ">
                  <div class="wrap_match-innerdetails">
                    <ul class="home_tInfo scrollable">
                      <li>
                        <a href="#">
                          <ul class="t_info match_info01 headline01 clearfix">
                            <li >-</li>
                            <li>
                              <div class="headline01 clearfix"><span>El Falcón de Ramón  </span><span class="vs">vs</span> <span>Camboyanos </span></div>
                              <div class="paragraph02 clearfix">
                                <span>-</span>
                                <span>-</span>
								<span>-</span>
                                
                              </div>
                            </li>
                            <li >-</li>
                          </ul>
                        </a>
                      </li>
                      <li>
                        <a href="#">
                          <ul class="t_info match_info01 headline01 clearfix">
                            <li >-</li>
                            <li>
                              <div class="headline01 clearfix"><span>Forzosos </span><span class="vs">vs</span> Boedo F.C. </div>
                              <div class="paragraph02 clearfix">
                                <span>-</span>
                                <span>-</span>
								<span>-</span>
                                
                              </div>
                            </li>
                            <li >-</li>
                          </ul>
                        </a>
                      </li>
                      <li>
                        <a href="#">
                          <ul class="t_info match_info01 headline01 clearfix">
                            <li >-</li>
                            <li>
                              <div class="headline01 clearfix"><span>Gauchos  </span><span class="vs">vs</span> <span>30 de Noviembre </span></div>
                              <div class="paragraph02 clearfix">
                                <span>- </span>
                                <span>-</span>
								<span>-</span>
                                
                              </div>
                            </li>
                            <li >-</li>
                          </ul>
                        </a>
                      </li>
                      <li>
                        <a href="#">
                          <ul class="t_info match_info01 headline01 clearfix">
                            <li >-</li>
                            <li>
                              <div class="headline01 clearfix"><span>Lorenzo Massa F.C. </span><span class="vs">vs</span> <span>13 de Agosto</span></div>
                              <div class="paragraph02 clearfix">
                                <span>- </span>
                                <span>-</span>
								<span>-</span>
                                
                              </div>
                            </li>
                            <li >-</li>
                          </ul>
                        </a>
                      </li>
                        <li>
                        <a href="#">
                          <ul class="t_info match_info01 headline01 clearfix">
                            <li >-</li>
                            <li>
                              <div class="headline01 clearfix"><span>Los Colas de Av. La plata</span> <span class="vs">vs</span> <span>Los carasucias </span></div>
                              <div class="paragraph02 clearfix">
                                <span>- </span>
                                <span>-</span>
								<span>-</span>
                                
                              </div>
                            </li>
                            <li >-</li>
                          </ul>
                        </a>
                      </li>
                       <li>
                        <a href="#">
                          <ul class="t_info match_info01 headline01 clearfix">
                            <li >-</li>
                            <li>
                              <div class="headline01 clearfix"><span>Los Cuervos del pasaje  </span><span class="vs">vs</span> <span>Donde éstes estaré</span></div>
                              <div class="paragraph02 clearfix">
                                <span>- </span>
                                <span>-</span>
								<span>-</span>
                                
                              </div>
                            </li>
                            <li >-</li>
                          </ul>
                        </a>
                      </li>
                    </ul>
                  </div>  
                </div> 
				<div class="match_next">
                  <div class="wrap_match_next left_triangle ">
                    <div class="left_padding">
                      <h4 class="headline03">Zona 1 <br/> Fecha 8</h4>
                      
                    </div>  
                  </div>  
                </div>
				    </div>
					    <!-- fixture -->  
              <div class="matchSchedule_details row">
                <div class="match_versus-wrap ">
                  <div class="wrap_match-innerdetails">
                    <ul class="home_tInfo scrollable">
                      <li>
                        <a href="#">
                          <ul class="t_info match_info01 headline01 clearfix">
                            <li >-</li>
                            <li>
                              <div class="headline01 clearfix"><span>El Falcón de Ramón </span><span class="vs">vs</span> <span>Donde éstes estaré</span></div>
                              <div class="paragraph02 clearfix">
                                <span>-</span>
                                <span>-</span>
								<span>-</span>
                                
                              </div>
                            </li>
                            <li >-</li>
                          </ul>
                        </a>
                      </li>
                      <li>
                        <a href="#">
                          <ul class="t_info match_info01 headline01 clearfix">
                            <li >-</li>
                            <li>
                              <div class="headline01 clearfix"><span>Forzosos </span><span class="vs">vs</span> Camboyanos </div>
                              <div class="paragraph02 clearfix">
                                <span>-</span>
                                <span>-</span>
								<span>-</span>
                                
                              </div>
                            </li>
                            <li >-</li>
                          </ul>
                        </a>
                      </li>
                      <li>
                        <a href="#">
                          <ul class="t_info match_info01 headline01 clearfix">
                            <li >-</li>
                            <li>
                              <div class="headline01 clearfix"><span>gauchos  </span><span class="vs">vs</span> <span>Boedo F.C. </span></div>
                              <div class="paragraph02 clearfix">
                                <span>- </span>
                                <span>-</span>
								<span>-</span>
                                
                              </div>
                            </li>
                            <li >-</li>
                          </ul>
                        </a>
                      </li>
                      <li>
                        <a href="#">
                          <ul class="t_info match_info01 headline01 clearfix">
                            <li >-</li>
                            <li>
                              <div class="headline01 clearfix"><span>Lorenzo Massa F.C. </span><span class="vs">vs</span> <span>30 de Noviembre</span></div>
                              <div class="paragraph02 clearfix">
                                <span>- </span>
                                <span>-</span>
								<span>-</span>
                                
                              </div>
                            </li>
                            <li >-</li>
                          </ul>
                        </a>
                      </li>
                        <li>
                        <a href="#">
                          <ul class="t_info match_info01 headline01 clearfix">
                            <li >-</li>
                            <li>
                              <div class="headline01 clearfix"><span>Los Carasucias </span> <span class="vs">vs</span> <span>13 de Agosto </span></div>
                              <div class="paragraph02 clearfix">
                                <span>- </span>
                                <span>-</span>
								<span>-</span>
                                
                              </div>
                            </li>
                            <li >-</li>
                          </ul>
                        </a>
                      </li>
                       <li>
                        <a href="#">
                          <ul class="t_info match_info01 headline01 clearfix">
                            <li >-</li>
                            <li>
                              <div class="headline01 clearfix"><span>Los Cuervos del Pasaje </span><span class="vs">vs</span> <span>Los Colas de Av. La Plata</span></div>
                              <div class="paragraph02 clearfix">
                                <span>- </span>
                                <span>-</span>
								<span>-</span>
                                
                              </div>
                            </li>
                            <li >-</li>
                          </ul>
                        </a>
                      </li>
                    </ul>
                  </div>  
                </div> 
				<div class="match_next">
                  <div class="wrap_match_next left_triangle ">
                    <div class="left_padding">
                      <h4 class="headline03">Zona 1 <br/> Fecha 9</h4>
                      
                    </div>  
                  </div>  
                </div>
				    </div>
					    <!-- fixture -->  
              <div class="matchSchedule_details row">
                <div class="match_versus-wrap ">
                  <div class="wrap_match-innerdetails">
                    <ul class="home_tInfo scrollable">
                      <li>
                        <a href="#">
                          <ul class="t_info match_info01 headline01 clearfix">
                            <li >-</li>
                            <li>
                              <div class="headline01 clearfix"><span>Forzosos  </span><span class="vs">vs</span> <span>Donde éstes estré </span></div>
                              <div class="paragraph02 clearfix">
                                <span>-</span>
                                <span>-</span>
								<span>-</span>
                                
                              </div>
                            </li>
                            <li >-</li>
                          </ul>
                        </a>
                      </li>
                      <li>
                        <a href="#">
                          <ul class="t_info match_info01 headline01 clearfix">
                            <li >-</li>
                            <li>
                              <div class="headline01 clearfix"><span>Gauchos  </span><span class="vs">vs</span> Camboyanos </div>
                              <div class="paragraph02 clearfix">
                                <span>-</span>
                                <span>-</span>
								<span>-</span>
                                
                              </div>
                            </li>
                            <li >-</li>
                          </ul>
                        </a>
                      </li>
                      <li>
                        <a href="#">
                          <ul class="t_info match_info01 headline01 clearfix">
                            <li >-</li>
                            <li>
                              <div class="headline01 clearfix"><span>Lorenzo Massa F.C.  </span><span class="vs">vs</span> <span>Boedo F.C. </span></div>
                              <div class="paragraph02 clearfix">
                                <span>- </span>
                                <span>-</span>
								<span>-</span>
                                
                              </div>
                            </li>
                            <li >-</li>
                          </ul>
                        </a>
                      </li>
                      <li>
                        <a href="#">
                          <ul class="t_info match_info01 headline01 clearfix">
                            <li >-</li>
                            <li>
                              <div class="headline01 clearfix"><span>Los Carasucias</span><span class="vs">vs</span> <span>30 de Noviembre </span></div>
                              <div class="paragraph02 clearfix">
                                <span>- </span>
                                <span>-</span>
								<span>-</span>
                                
                              </div>
                            </li>
                            <li >-</li>
                          </ul>
                        </a>
                      </li>
                        <li>
                        <a href="#">
                          <ul class="t_info match_info01 headline01 clearfix">
                            <li >-</li>
                            <li>
                              <div class="headline01 clearfix"><span>Los Colas de Av. La Plata </span> <span class="vs">vs</span> <span>13 de Agosto</span></div>
                              <div class="paragraph02 clearfix">
                                <span>- </span>
                                <span>-</span>
								<span>-</span>
                                
                              </div>
                            </li>
                            <li >-</li>
                          </ul>
                        </a>
                      </li>
                       <li>
                        <a href="#">
                          <ul class="t_info match_info01 headline01 clearfix">
                            <li >-</li>
                            <li>
                              <div class="headline01 clearfix"><span>Los Cuervos del pasaje </span><span class="vs">vs</span> <span>El Falcón de Ramón </span></div>
                              <div class="paragraph02 clearfix">
                                <span>- </span>
                                <span>-</span>
								<span>-</span>
                                
                              </div>
                            </li>
                            <li >-</li>
                          </ul>
                        </a>
                      </li>
                    </ul>
                  </div>  
                </div> 
				<div class="match_next">
                  <div class="wrap_match_next left_triangle ">
                    <div class="left_padding">
                      <h4 class="headline03">Zona 1 <br/> Fecha10</h4>
                      
                    </div>  
                  </div>  
                </div>
				    </div>
					    <!-- fixture -->  
              <div class="matchSchedule_details row">
                <div class="match_versus-wrap ">
                  <div class="wrap_match-innerdetails">
                    <ul class="home_tInfo scrollable">
                      <li>
                        <a href="#">
                          <ul class="t_info match_info01 headline01 clearfix">
                            <li >-</li>
                            <li>
                              <div class="headline01 clearfix"><span>Forzosos </span><span class="vs">vs</span> <span>El Falcón De Ramón</span></div>
                              <div class="paragraph02 clearfix">
                                <span>-</span>
                                <span>-</span>
								<span>-</span>
                                
                              </div>
                            </li>
                            <li >-</li>
                          </ul>
                        </a>
                      </li>
                      <li>
                        <a href="#">
                          <ul class="t_info match_info01 headline01 clearfix">
                            <li >-</li>
                            <li>
                              <div class="headline01 clearfix"><span>Gauchos  </span><span class="vs">vs</span>Donde éstes estaré </div>
                              <div class="paragraph02 clearfix">
                                <span>-</span>
                                <span>-</span>
								<span>-</span>
                                
                              </div>
                            </li>
                            <li >-</li>
                          </ul>
                        </a>
                      </li>
                      <li>
                        <a href="#">
                          <ul class="t_info match_info01 headline01 clearfix">
                            <li >-</li>
                            <li>
                              <div class="headline01 clearfix"><span>Lorenzo Massa F.C.  </span><span class="vs">vs</span> <span>camboyanos</span></div>
                              <div class="paragraph02 clearfix">
                                <span>- </span>
                                <span>-</span>
								<span>-</span>
                                
                              </div>
                            </li>
                            <li >-</li>
                          </ul>
                        </a>
                      </li>
                      <li>
                        <a href="#">
                          <ul class="t_info match_info01 headline01 clearfix">
                            <li >-</li>
                            <li>
                              <div class="headline01 clearfix"><span>Los carasucias </span><span class="vs">vs</span> <span>Boedo F.C. </span></div>
                              <div class="paragraph02 clearfix">
                                <span>- </span>
                                <span>-</span>
								<span>-</span>
                                
                              </div>
                            </li>
                            <li >-</li>
                          </ul>
                        </a>
                      </li>
                        <li>
                        <a href="#">
                          <ul class="t_info match_info01 headline01 clearfix">
                            <li >-</li>
                            <li>
                              <div class="headline01 clearfix"><span>Los Colas de Av. La Plata </span> <span class="vs">vs</span> <span>30 de Noviembre</span></div>
                              <div class="paragraph02 clearfix">
                                <span>- </span>
                                <span>-</span>
								<span>-</span>
                                
                              </div>
                            </li>
                            <li >-</li>
                          </ul>
                        </a>
                      </li>
                       <li>
                        <a href="#">
                          <ul class="t_info match_info01 headline01 clearfix">
                            <li >-</li>
                            <li>
                              <div class="headline01 clearfix"><span>Los Cuervos del Pasaje </span><span class="vs">vs</span> <span>13 de Agosto </span></div>
                              <div class="paragraph02 clearfix">
                                <span>- </span>
                                <span>-</span>
								<span>-</span>
                                
                              </div>
                            </li>
                            <li >-</li>
                          </ul>
                        </a>
                      </li>
                    </ul>
                  </div>  
                </div> 
				<div class="match_next">
                  <div class="wrap_match_next left_triangle ">
                    <div class="left_padding">
                      <h4 class="headline03">Zona 1 <br/> Fecha 11</h4>
                      
                    </div>  
                  </div>  
                </div>
				    </div>
		<!-- fixture -->
            </div>
        </div>
		
		
      </section>
    

      <!-- footer -->
      <footer ><!--class="footer-type01"-->
	 <%- include footer.ejs %>
      </footer>
    </div>
    

      
    <script src="js/vendor/vendor.js"></script>     
    <script src="js/main.js"></script>
        
</body>
</html>