					<!doctype html>
<html class="no-js" lang="">
  <head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Torneo de Futbol Para Socios de San Lorenzo</title>
    <link rel="shortcut icon" href="favicon.ico">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
     <link rel="stylesheet" href="vendor.css">       
     <link rel="stylesheet" href="style.css">   
     <link rel="stylesheet" type="text/css" href="css/layerslider.css">
    <script src="js/vendor/modernizr.js"></script>    
  </head>
  <body>
    <!--[if lt IE 10]>
      <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    <div class="wrapper">
      <!-- header -->
      <header class="header-main">
        <div class="header-lower clearfix">
			<%- include menu.ejs %>
        </div>  
</header>

       <!-- banner section -->
      <div class="innerbannerwrap">
        <div class="content"></div>
        <div class="innerbannerfairplay">
          <h2 class="bannerHeadline">ZONA 2 <span>Hector Scotta</span></h2>
        </div>
      </div>

      <section class="innerpage_all_wrap bg-white"> 
        <div class="container">
			<div class="row">
			<div class="matchSchedule_details row">
                  <!-- fixture -->  
  <div class="matchSchedule_details row">
                <div class="match_next">
                  <div class="wrap_match_next right-triangle ">
                    <div class="right-padding">
                      <h4 class="headline03">ZONA 2 <br/> Fecha 1</h4>
                    </div>  
                  </div>  
                </div>
                <div class="match_versus-wrap ">
                 <div class="wrap_match-innerdetails">
                     <ul class="home_tInfo scrollable">
                      <li>
                        <a href="#">
                          <ul class="t_info match_info01 headline01 clearfix">
                            <li >-</li>
                            <li>
                              <div class="headline01 clearfix"><span>Tierra Santa</span><span class="vs"> vs</span> Casla F.C.</div>
                              <div class="paragraph02 clearfix">
                                <span>-</span>
                                <span>-</span>
								<span>-</span>
                        </div></li>
						<li >-</li>
						</ul></a></li><li><a href="#">
						
                          <ul class="t_info match_info01 headline01 clearfix">
                            <li >-</li>
                            <li>
                              <div class="headline01 clearfix"><span>Boedo es una Joda </span><span class="vs">vs</span> Matadores</div>
                              <div class="paragraph02 clearfix">
                                <span>-</span>
                                <span>-</span>
								<span>-</span>
                                
                              </div>
                            </li>
                            <li >-</li>
                          </ul>
                        </a>
                      </li>
                      <li>
                        <a href="#">
                          <ul class="t_info match_info01 headline01 clearfix">
                            <li >-</li>
                            <li>
                              <div class="headline01 clearfix"><span>San Justo </span><span class="vs">vs</span> Pasion Azulgrana</div>
                              <div class="paragraph02 clearfix">
                                <span>- </span>
                                <span>-</span>
								<span>-</span>
                                
                              </div>
                            </li>
                            <li >-</li>
                          </ul>
                        </a>
                      </li>
                      <li>
                        <a href="#">
                          <ul class="t_info match_info01 headline01 clearfix">
                            <li >-</li>
                            <li>
                              <div class="headline01 clearfix"><span>San Juan y Boedo.</span><span class="vs">vs</span> Peña Villa Celina</div>
                              <div class="paragraph02 clearfix">
                                <span>- </span>
                                <span>-</span>
								<span>-</span>
                                
                              </div>
                            </li>
                            <li >-</li>
                          </ul>
                        </a>
                      </li>
                       <li>
                        <a href="#">
                          <ul class="t_info match_info01 headline01 clearfix">
                            <li >-</li>
                            <li>
                              <div class="headline01 clearfix"><span>3er Tiempo Azulgrana </span><span class="vs">vs</span> Mundo Azulgrana</div>
                              <div class="paragraph02 clearfix">
                                <span>- </span>
                                <span>-</span>
								<span>-</span>
                                
                              </div>
                            </li>
                            <li >-</li>
                          </ul>
                        </a>
                      </li>
                       <li>
                        <a href="#">
                          <ul class="t_info match_info01 headline01 clearfix">
                            <li >-</li>
                            <li>
                              <div class="headline01 clearfix"><span>San Francisco </span><span class="vs">vs</span> <span>San Antonio</span></div>
                              <div class="paragraph02 clearfix">
                                <span>- </span>
                                <span>-</span>
								<span>-</span>
                                
                              </div>
                            </li>
                            <li >-</li>
                          </ul>
                        </a>
                      </li>
                    </ul>
                  </div>  
                </div>
               
              </div>
			                   <!-- fixture -->  
  <div class="matchSchedule_details row">
                <div class="match_next">
                  <div class="wrap_match_next right-triangle ">
                    <div class="right-padding">
                      <h4 class="headline03">ZONA 2 <br/> Fecha 2</h4>
                    </div>  
                  </div>  
                </div>
                <div class="match_versus-wrap ">
                 <div class="wrap_match-innerdetails">
                     <ul class="home_tInfo scrollable">
                      <li>
                        <a href="#">
                          <ul class="t_info match_info01 headline01 clearfix">
                            <li >-</li>
                            <li>
                              <div class="headline01 clearfix"><span>Tierra Santa</span><span class="vs"> vs</span> Casla F.C.</div>
                              <div class="paragraph02 clearfix">
                                <span>-</span>
                                <span>-</span>
								<span>-</span>
                        </div></li>
						<li >-</li>
						</ul></a></li><li><a href="#">
						
                          <ul class="t_info match_info01 headline01 clearfix">
                            <li >-</li>
                            <li>
                              <div class="headline01 clearfix"><span>Boedo es una Joda </span><span class="vs">vs</span> Matadores</div>
                              <div class="paragraph02 clearfix">
                                <span>-</span>
                                <span>-</span>
								<span>-</span>
                                
                              </div>
                            </li>
                            <li >-</li>
                          </ul>
                        </a>
                      </li>
                      <li>
                        <a href="#">
                          <ul class="t_info match_info01 headline01 clearfix">
                            <li >-</li>
                            <li>
                              <div class="headline01 clearfix"><span>San Justo </span><span class="vs">vs</span> Pasion Azulgrana</div>
                              <div class="paragraph02 clearfix">
                                <span>- </span>
                                <span>-</span>
								<span>-</span>
                                
                              </div>
                            </li>
                            <li >-</li>
                          </ul>
                        </a>
                      </li>
                      <li>
                        <a href="#">
                          <ul class="t_info match_info01 headline01 clearfix">
                            <li >-</li>
                            <li>
                              <div class="headline01 clearfix"><span>San Juan y Boedo.</span><span class="vs">vs</span> Peña Villa Celina</div>
                              <div class="paragraph02 clearfix">
                                <span>- </span>
                                <span>-</span>
								<span>-</span>
                                
                              </div>
                            </li>
                            <li >-</li>
                          </ul>
                        </a>
                      </li>
                       <li>
                        <a href="#">
                          <ul class="t_info match_info01 headline01 clearfix">
                            <li >-</li>
                            <li>
                              <div class="headline01 clearfix"><span>3er Tiempo Azulgrana </span><span class="vs">vs</span> Mundo Azulgrana</div>
                              <div class="paragraph02 clearfix">
                                <span>- </span>
                                <span>-</span>
								<span>-</span>
                                
                              </div>
                            </li>
                            <li >-</li>
                          </ul>
                        </a>
                      </li>
                       <li>
                        <a href="#">
                          <ul class="t_info match_info01 headline01 clearfix">
                            <li >-</li>
                            <li>
                              <div class="headline01 clearfix"><span>San Francisco </span><span class="vs">vs</span> <span>San Antonio</span></div>
                              <div class="paragraph02 clearfix">
                                <span>- </span>
                                <span>-</span>
								<span>-</span>
                                
                              </div>
                            </li>
                            <li >-</li>
                          </ul>
                        </a>
                      </li>
                    </ul>
                  </div>  
                </div>
               
              </div>
			                   <!-- fixture -->  
  <div class="matchSchedule_details row">
                <div class="match_next">
                  <div class="wrap_match_next right-triangle ">
                    <div class="right-padding">
                      <h4 class="headline03">ZONA 2 <br/> Fecha 3</h4>
                    </div>  
                  </div>  
                </div>
                <div class="match_versus-wrap ">
                 <div class="wrap_match-innerdetails">
                     <ul class="home_tInfo scrollable">
                      <li>
                        <a href="#">
                          <ul class="t_info match_info01 headline01 clearfix">
                            <li >-</li>
                            <li>
                              <div class="headline01 clearfix"><span>Tierra Santa</span><span class="vs"> vs</span> Casla F.C.</div>
                              <div class="paragraph02 clearfix">
                                <span>-</span>
                                <span>-</span>
								<span>-</span>
                        </div></li>
						<li >-</li>
						</ul></a></li><li><a href="#">
						
                          <ul class="t_info match_info01 headline01 clearfix">
                            <li >-</li>
                            <li>
                              <div class="headline01 clearfix"><span>Boedo es una Joda </span><span class="vs">vs</span> Matadores</div>
                              <div class="paragraph02 clearfix">
                                <span>-</span>
                                <span>-</span>
								<span>-</span>
                                
                              </div>
                            </li>
                            <li >-</li>
                          </ul>
                        </a>
                      </li>
                      <li>
                        <a href="#">
                          <ul class="t_info match_info01 headline01 clearfix">
                            <li >-</li>
                            <li>
                              <div class="headline01 clearfix"><span>San Justo </span><span class="vs">vs</span> Pasion Azulgrana</div>
                              <div class="paragraph02 clearfix">
                                <span>- </span>
                                <span>-</span>
								<span>-</span>
                                
                              </div>
                            </li>
                            <li >-</li>
                          </ul>
                        </a>
                      </li>
                      <li>
                        <a href="#">
                          <ul class="t_info match_info01 headline01 clearfix">
                            <li >-</li>
                            <li>
                              <div class="headline01 clearfix"><span>San Juan y Boedo.</span><span class="vs">vs</span> Peña Villa Celina</div>
                              <div class="paragraph02 clearfix">
                                <span>- </span>
                                <span>-</span>
								<span>-</span>
                                
                              </div>
                            </li>
                            <li >-</li>
                          </ul>
                        </a>
                      </li>
                       <li>
                        <a href="#">
                          <ul class="t_info match_info01 headline01 clearfix">
                            <li >-</li>
                            <li>
                              <div class="headline01 clearfix"><span>3er Tiempo Azulgrana </span><span class="vs">vs</span> Mundo Azulgrana</div>
                              <div class="paragraph02 clearfix">
                                <span>- </span>
                                <span>-</span>
								<span>-</span>
                                
                              </div>
                            </li>
                            <li >-</li>
                          </ul>
                        </a>
                      </li>
                       <li>
                        <a href="#">
                          <ul class="t_info match_info01 headline01 clearfix">
                            <li >-</li>
                            <li>
                              <div class="headline01 clearfix"><span>San Francisco </span><span class="vs">vs</span> <span>San Antonio</span></div>
                              <div class="paragraph02 clearfix">
                                <span>- </span>
                                <span>-</span>
								<span>-</span>
                                
                              </div>
                            </li>
                            <li >-</li>
                          </ul>
                        </a>
                      </li>
                    </ul>
                  </div>  
                </div>
               
              </div>
			                   <!-- fixture -->  
  <div class="matchSchedule_details row">
                <div class="match_next">
                  <div class="wrap_match_next right-triangle ">
                    <div class="right-padding">
                      <h4 class="headline03">ZONA 2 <br/> Fecha 4</h4>
                    </div>  
                  </div>  
                </div>
                <div class="match_versus-wrap ">
                 <div class="wrap_match-innerdetails">
                     <ul class="home_tInfo scrollable">
                      <li>
                        <a href="#">
                          <ul class="t_info match_info01 headline01 clearfix">
                            <li >-</li>
                            <li>
                              <div class="headline01 clearfix"><span>Tierra Santa</span><span class="vs"> vs</span> Casla F.C.</div>
                              <div class="paragraph02 clearfix">
                                <span>-</span>
                                <span>-</span>
								<span>-</span>
                        </div></li>
						<li >-</li>
						</ul></a></li><li><a href="#">
						
                          <ul class="t_info match_info01 headline01 clearfix">
                            <li >-</li>
                            <li>
                              <div class="headline01 clearfix"><span>Boedo es una Joda </span><span class="vs">vs</span> Matadores</div>
                              <div class="paragraph02 clearfix">
                                <span>-</span>
                                <span>-</span>
								<span>-</span>
                                
                              </div>
                            </li>
                            <li >-</li>
                          </ul>
                        </a>
                      </li>
                      <li>
                        <a href="#">
                          <ul class="t_info match_info01 headline01 clearfix">
                            <li >-</li>
                            <li>
                              <div class="headline01 clearfix"><span>San Justo </span><span class="vs">vs</span> Pasion Azulgrana</div>
                              <div class="paragraph02 clearfix">
                                <span>- </span>
                                <span>-</span>
								<span>-</span>
                                
                              </div>
                            </li>
                            <li >-</li>
                          </ul>
                        </a>
                      </li>
                      <li>
                        <a href="#">
                          <ul class="t_info match_info01 headline01 clearfix">
                            <li >-</li>
                            <li>
                              <div class="headline01 clearfix"><span>San Juan y Boedo.</span><span class="vs">vs</span> Peña Villa Celina</div>
                              <div class="paragraph02 clearfix">
                                <span>- </span>
                                <span>-</span>
								<span>-</span>
                                
                              </div>
                            </li>
                            <li >-</li>
                          </ul>
                        </a>
                      </li>
                       <li>
                        <a href="#">
                          <ul class="t_info match_info01 headline01 clearfix">
                            <li >-</li>
                            <li>
                              <div class="headline01 clearfix"><span>3er Tiempo Azulgrana </span><span class="vs">vs</span> Mundo Azulgrana</div>
                              <div class="paragraph02 clearfix">
                                <span>- </span>
                                <span>-</span>
								<span>-</span>
                                
                              </div>
                            </li>
                            <li >-</li>
                          </ul>
                        </a>
                      </li>
                       <li>
                        <a href="#">
                          <ul class="t_info match_info01 headline01 clearfix">
                            <li >-</li>
                            <li>
                              <div class="headline01 clearfix"><span>San Francisco </span><span class="vs">vs</span> <span>San Antonio</span></div>
                              <div class="paragraph02 clearfix">
                                <span>- </span>
                                <span>-</span>
								<span>-</span>
                                
                              </div>
                            </li>
                            <li >-</li>
                          </ul>
                        </a>
                      </li>
                    </ul>
                  </div>  
                </div>
               
              </div>
			                   <!-- fixture -->  
  <div class="matchSchedule_details row">
                <div class="match_next">
                  <div class="wrap_match_next right-triangle ">
                    <div class="right-padding">
                      <h4 class="headline03">ZONA 2 <br/> Fecha 5</h4>
                    </div>  
                  </div>  
                </div>
                <div class="match_versus-wrap ">
                 <div class="wrap_match-innerdetails">
                     <ul class="home_tInfo scrollable">
                      <li>
                        <a href="#">
                          <ul class="t_info match_info01 headline01 clearfix">
                            <li >-</li>
                            <li>
                              <div class="headline01 clearfix"><span>Tierra Santa</span><span class="vs"> vs</span> Casla F.C.</div>
                              <div class="paragraph02 clearfix">
                                <span>-</span>
                                <span>-</span>
								<span>-</span>
                        </div></li>
						<li >-</li>
						</ul></a></li><li><a href="#">
						
                          <ul class="t_info match_info01 headline01 clearfix">
                            <li >-</li>
                            <li>
                              <div class="headline01 clearfix"><span>Boedo es una Joda </span><span class="vs">vs</span> Matadores</div>
                              <div class="paragraph02 clearfix">
                                <span>-</span>
                                <span>-</span>
								<span>-</span>
                                
                              </div>
                            </li>
                            <li >-</li>
                          </ul>
                        </a>
                      </li>
                      <li>
                        <a href="#">
                          <ul class="t_info match_info01 headline01 clearfix">
                            <li >-</li>
                            <li>
                              <div class="headline01 clearfix"><span>San Justo </span><span class="vs">vs</span> Pasion Azulgrana</div>
                              <div class="paragraph02 clearfix">
                                <span>- </span>
                                <span>-</span>
								<span>-</span>
                                
                              </div>
                            </li>
                            <li >-</li>
                          </ul>
                        </a>
                      </li>
                      <li>
                        <a href="#">
                          <ul class="t_info match_info01 headline01 clearfix">
                            <li >-</li>
                            <li>
                              <div class="headline01 clearfix"><span>San Juan y Boedo.</span><span class="vs">vs</span> Peña Villa Celina</div>
                              <div class="paragraph02 clearfix">
                                <span>- </span>
                                <span>-</span>
								<span>-</span>
                                
                              </div>
                            </li>
                            <li >-</li>
                          </ul>
                        </a>
                      </li>
                       <li>
                        <a href="#">
                          <ul class="t_info match_info01 headline01 clearfix">
                            <li >-</li>
                            <li>
                              <div class="headline01 clearfix"><span>3er Tiempo Azulgrana </span><span class="vs">vs</span> Mundo Azulgrana</div>
                              <div class="paragraph02 clearfix">
                                <span>- </span>
                                <span>-</span>
								<span>-</span>
                                
                              </div>
                            </li>
                            <li >-</li>
                          </ul>
                        </a>
                      </li>
                       <li>
                        <a href="#">
                          <ul class="t_info match_info01 headline01 clearfix">
                            <li >-</li>
                            <li>
                              <div class="headline01 clearfix"><span>San Francisco </span><span class="vs">vs</span> <span>San Antonio</span></div>
                              <div class="paragraph02 clearfix">
                                <span>- </span>
                                <span>-</span>
								<span>-</span>
                                
                              </div>
                            </li>
                            <li >-</li>
                          </ul>
                        </a>
                      </li>
                    </ul>
                  </div>  
                </div>
               
              </div>
			                   <!-- fixture -->  
  <div class="matchSchedule_details row">
                <div class="match_next">
                  <div class="wrap_match_next right-triangle ">
                    <div class="right-padding">
                      <h4 class="headline03">ZONA 2 <br/> Fecha 6</h4>
                    </div>  
                  </div>  
                </div>
                <div class="match_versus-wrap ">
                 <div class="wrap_match-innerdetails">
                     <ul class="home_tInfo scrollable">
                      <li>
                        <a href="#">
                          <ul class="t_info match_info01 headline01 clearfix">
                            <li >-</li>
                            <li>
                              <div class="headline01 clearfix"><span>Tierra Santa</span><span class="vs"> vs</span> Casla F.C.</div>
                              <div class="paragraph02 clearfix">
                                <span>-</span>
                                <span>-</span>
								<span>-</span>
                        </div></li>
						<li >-</li>
						</ul></a></li><li><a href="#">
						
                          <ul class="t_info match_info01 headline01 clearfix">
                            <li >-</li>
                            <li>
                              <div class="headline01 clearfix"><span>Boedo es una Joda </span><span class="vs">vs</span> Matadores</div>
                              <div class="paragraph02 clearfix">
                                <span>-</span>
                                <span>-</span>
								<span>-</span>
                                
                              </div>
                            </li>
                            <li >-</li>
                          </ul>
                        </a>
                      </li>
                      <li>
                        <a href="#">
                          <ul class="t_info match_info01 headline01 clearfix">
                            <li >-</li>
                            <li>
                              <div class="headline01 clearfix"><span>San Justo </span><span class="vs">vs</span> Pasion Azulgrana</div>
                              <div class="paragraph02 clearfix">
                                <span>- </span>
                                <span>-</span>
								<span>-</span>
                                
                              </div>
                            </li>
                            <li >-</li>
                          </ul>
                        </a>
                      </li>
                      <li>
                        <a href="#">
                          <ul class="t_info match_info01 headline01 clearfix">
                            <li >-</li>
                            <li>
                              <div class="headline01 clearfix"><span>San Juan y Boedo.</span><span class="vs">vs</span> Peña Villa Celina</div>
                              <div class="paragraph02 clearfix">
                                <span>- </span>
                                <span>-</span>
								<span>-</span>
                                
                              </div>
                            </li>
                            <li >-</li>
                          </ul>
                        </a>
                      </li>
                       <li>
                        <a href="#">
                          <ul class="t_info match_info01 headline01 clearfix">
                            <li >-</li>
                            <li>
                              <div class="headline01 clearfix"><span>3er Tiempo Azulgrana </span><span class="vs">vs</span> Mundo Azulgrana</div>
                              <div class="paragraph02 clearfix">
                                <span>- </span>
                                <span>-</span>
								<span>-</span>
                                
                              </div>
                            </li>
                            <li >-</li>
                          </ul>
                        </a>
                      </li>
                       <li>
                        <a href="#">
                          <ul class="t_info match_info01 headline01 clearfix">
                            <li >-</li>
                            <li>
                              <div class="headline01 clearfix"><span>San Francisco </span><span class="vs">vs</span> <span>San Antonio</span></div>
                              <div class="paragraph02 clearfix">
                                <span>- </span>
                                <span>-</span>
								<span>-</span>
                                
                              </div>
                            </li>
                            <li >-</li>
                          </ul>
                        </a>
                      </li>
                    </ul>
                  </div>  
                </div>
               
              </div>
			                   <!-- fixture -->  
  <div class="matchSchedule_details row">
                <div class="match_next">
                  <div class="wrap_match_next right-triangle ">
                    <div class="right-padding">
                      <h4 class="headline03">ZONA 2 <br/> Fecha 7</h4>
                    </div>  
                  </div>  
                </div>
                <div class="match_versus-wrap ">
                 <div class="wrap_match-innerdetails">
                     <ul class="home_tInfo scrollable">
                      <li>
                        <a href="#">
                          <ul class="t_info match_info01 headline01 clearfix">
                            <li >-</li>
                            <li>
                              <div class="headline01 clearfix"><span>Tierra Santa</span><span class="vs"> vs</span> Casla F.C.</div>
                              <div class="paragraph02 clearfix">
                                <span>-</span>
                                <span>-</span>
								<span>-</span>
                        </div></li>
						<li >-</li>
						</ul></a></li><li><a href="#">
						
                          <ul class="t_info match_info01 headline01 clearfix">
                            <li >-</li>
                            <li>
                              <div class="headline01 clearfix"><span>Boedo es una Joda </span><span class="vs">vs</span> Matadores</div>
                              <div class="paragraph02 clearfix">
                                <span>-</span>
                                <span>-</span>
								<span>-</span>
                                
                              </div>
                            </li>
                            <li >-</li>
                          </ul>
                        </a>
                      </li>
                      <li>
                        <a href="#">
                          <ul class="t_info match_info01 headline01 clearfix">
                            <li >-</li>
                            <li>
                              <div class="headline01 clearfix"><span>San Justo </span><span class="vs">vs</span> Pasion Azulgrana</div>
                              <div class="paragraph02 clearfix">
                                <span>- </span>
                                <span>-</span>
								<span>-</span>
                                
                              </div>
                            </li>
                            <li >-</li>
                          </ul>
                        </a>
                      </li>
                      <li>
                        <a href="#">
                          <ul class="t_info match_info01 headline01 clearfix">
                            <li >-</li>
                            <li>
                              <div class="headline01 clearfix"><span>San Juan y Boedo.</span><span class="vs">vs</span> Peña Villa Celina</div>
                              <div class="paragraph02 clearfix">
                                <span>- </span>
                                <span>-</span>
								<span>-</span>
                                
                              </div>
                            </li>
                            <li >-</li>
                          </ul>
                        </a>
                      </li>
                       <li>
                        <a href="#">
                          <ul class="t_info match_info01 headline01 clearfix">
                            <li >-</li>
                            <li>
                              <div class="headline01 clearfix"><span>3er Tiempo Azulgrana </span><span class="vs">vs</span> Mundo Azulgrana</div>
                              <div class="paragraph02 clearfix">
                                <span>- </span>
                                <span>-</span>
								<span>-</span>
                                
                              </div>
                            </li>
                            <li >-</li>
                          </ul>
                        </a>
                      </li>
                       <li>
                        <a href="#">
                          <ul class="t_info match_info01 headline01 clearfix">
                            <li >-</li>
                            <li>
                              <div class="headline01 clearfix"><span>San Francisco </span><span class="vs">vs</span> <span>San Antonio</span></div>
                              <div class="paragraph02 clearfix">
                                <span>- </span>
                                <span>-</span>
								<span>-</span>
                                
                              </div>
                            </li>
                            <li >-</li>
                          </ul>
                        </a>
                      </li>
                    </ul>
                  </div>  
                </div>
               
              </div>
			                   <!-- fixture -->  
  <div class="matchSchedule_details row">
                <div class="match_next">
                  <div class="wrap_match_next right-triangle ">
                    <div class="right-padding">
                      <h4 class="headline03">ZONA 2 <br/> Fecha 8</h4>
                    </div>  
                  </div>  
                </div>
                <div class="match_versus-wrap ">
                 <div class="wrap_match-innerdetails">
                     <ul class="home_tInfo scrollable">
                      <li>
                        <a href="#">
                          <ul class="t_info match_info01 headline01 clearfix">
                            <li >-</li>
                            <li>
                              <div class="headline01 clearfix"><span>Tierra Santa</span><span class="vs"> vs</span> Casla F.C.</div>
                              <div class="paragraph02 clearfix">
                                <span>-</span>
                                <span>-</span>
								<span>-</span>
                        </div></li>
						<li >-</li>
						</ul></a></li><li><a href="#">
						
                          <ul class="t_info match_info01 headline01 clearfix">
                            <li >-</li>
                            <li>
                              <div class="headline01 clearfix"><span>Boedo es una Joda </span><span class="vs">vs</span> Matadores</div>
                              <div class="paragraph02 clearfix">
                                <span>-</span>
                                <span>-</span>
								<span>-</span>
                                
                              </div>
                            </li>
                            <li >-</li>
                          </ul>
                        </a>
                      </li>
                      <li>
                        <a href="#">
                          <ul class="t_info match_info01 headline01 clearfix">
                            <li >-</li>
                            <li>
                              <div class="headline01 clearfix"><span>San Justo </span><span class="vs">vs</span> Pasion Azulgrana</div>
                              <div class="paragraph02 clearfix">
                                <span>- </span>
                                <span>-</span>
								<span>-</span>
                                
                              </div>
                            </li>
                            <li >-</li>
                          </ul>
                        </a>
                      </li>
                      <li>
                        <a href="#">
                          <ul class="t_info match_info01 headline01 clearfix">
                            <li >-</li>
                            <li>
                              <div class="headline01 clearfix"><span>San Juan y Boedo.</span><span class="vs">vs</span> Peña Villa Celina</div>
                              <div class="paragraph02 clearfix">
                                <span>- </span>
                                <span>-</span>
								<span>-</span>
                                
                              </div>
                            </li>
                            <li >-</li>
                          </ul>
                        </a>
                      </li>
                       <li>
                        <a href="#">
                          <ul class="t_info match_info01 headline01 clearfix">
                            <li >-</li>
                            <li>
                              <div class="headline01 clearfix"><span>3er Tiempo Azulgrana </span><span class="vs">vs</span> Mundo Azulgrana</div>
                              <div class="paragraph02 clearfix">
                                <span>- </span>
                                <span>-</span>
								<span>-</span>
                                
                              </div>
                            </li>
                            <li >-</li>
                          </ul>
                        </a>
                      </li>
                       <li>
                        <a href="#">
                          <ul class="t_info match_info01 headline01 clearfix">
                            <li >-</li>
                            <li>
                              <div class="headline01 clearfix"><span>San Francisco </span><span class="vs">vs</span> <span>San Antonio</span></div>
                              <div class="paragraph02 clearfix">
                                <span>- </span>
                                <span>-</span>
								<span>-</span>
                                
                              </div>
                            </li>
                            <li >-</li>
                          </ul>
                        </a>
                      </li>
                    </ul>
                  </div>  
                </div>
               
              </div>
			                   <!-- fixture -->  
  <div class="matchSchedule_details row">
                <div class="match_next">
                  <div class="wrap_match_next right-triangle ">
                    <div class="right-padding">
                      <h4 class="headline03">ZONA 2 <br/> Fecha 9</h4>
                    </div>  
                  </div>  
                </div>
                <div class="match_versus-wrap ">
                 <div class="wrap_match-innerdetails">
                     <ul class="home_tInfo scrollable">
                      <li>
                        <a href="#">
                          <ul class="t_info match_info01 headline01 clearfix">
                            <li >-</li>
                            <li>
                              <div class="headline01 clearfix"><span>Tierra Santa</span><span class="vs"> vs</span> Casla F.C.</div>
                              <div class="paragraph02 clearfix">
                                <span>-</span>
                                <span>-</span>
								<span>-</span>
                        </div></li>
						<li >-</li>
						</ul></a></li><li><a href="#">
						
                          <ul class="t_info match_info01 headline01 clearfix">
                            <li >-</li>
                            <li>
                              <div class="headline01 clearfix"><span>Boedo es una Joda </span><span class="vs">vs</span> Matadores</div>
                              <div class="paragraph02 clearfix">
                                <span>-</span>
                                <span>-</span>
								<span>-</span>
                                
                              </div>
                            </li>
                            <li >-</li>
                          </ul>
                        </a>
                      </li>
                      <li>
                        <a href="#">
                          <ul class="t_info match_info01 headline01 clearfix">
                            <li >-</li>
                            <li>
                              <div class="headline01 clearfix"><span>San Justo </span><span class="vs">vs</span> Pasion Azulgrana</div>
                              <div class="paragraph02 clearfix">
                                <span>- </span>
                                <span>-</span>
								<span>-</span>
                                
                              </div>
                            </li>
                            <li >-</li>
                          </ul>
                        </a>
                      </li>
                      <li>
                        <a href="#">
                          <ul class="t_info match_info01 headline01 clearfix">
                            <li >-</li>
                            <li>
                              <div class="headline01 clearfix"><span>San Juan y Boedo.</span><span class="vs">vs</span> Peña Villa Celina</div>
                              <div class="paragraph02 clearfix">
                                <span>- </span>
                                <span>-</span>
								<span>-</span>
                                
                              </div>
                            </li>
                            <li >-</li>
                          </ul>
                        </a>
                      </li>
                       <li>
                        <a href="#">
                          <ul class="t_info match_info01 headline01 clearfix">
                            <li >-</li>
                            <li>
                              <div class="headline01 clearfix"><span>3er Tiempo Azulgrana </span><span class="vs">vs</span> Mundo Azulgrana</div>
                              <div class="paragraph02 clearfix">
                                <span>- </span>
                                <span>-</span>
								<span>-</span>
                                
                              </div>
                            </li>
                            <li >-</li>
                          </ul>
                        </a>
                      </li>
                       <li>
                        <a href="#">
                          <ul class="t_info match_info01 headline01 clearfix">
                            <li >-</li>
                            <li>
                              <div class="headline01 clearfix"><span>San Francisco </span><span class="vs">vs</span> <span>San Antonio</span></div>
                              <div class="paragraph02 clearfix">
                                <span>- </span>
                                <span>-</span>
								<span>-</span>
                                
                              </div>
                            </li>
                            <li >-</li>
                          </ul>
                        </a>
                      </li>
                    </ul>
                  </div>  
                </div>
               
              </div>
			                   <!-- fixture -->  
  <div class="matchSchedule_details row">
                <div class="match_next">
                  <div class="wrap_match_next right-triangle ">
                    <div class="right-padding">
                      <h4 class="headline03">ZONA 2 <br/> Fecha 10</h4>
                    </div>  
                  </div>  
                </div>
                <div class="match_versus-wrap ">
                 <div class="wrap_match-innerdetails">
                     <ul class="home_tInfo scrollable">
                      <li>
                        <a href="#">
                          <ul class="t_info match_info01 headline01 clearfix">
                            <li >-</li>
                            <li>
                              <div class="headline01 clearfix"><span>Tierra Santa</span><span class="vs"> vs</span> Casla F.C.</div>
                              <div class="paragraph02 clearfix">
                                <span>-</span>
                                <span>-</span>
								<span>-</span>
                        </div></li>
						<li >-</li>
						</ul></a></li><li><a href="#">
						
                          <ul class="t_info match_info01 headline01 clearfix">
                            <li >-</li>
                            <li>
                              <div class="headline01 clearfix"><span>Boedo es una Joda </span><span class="vs">vs</span> Matadores</div>
                              <div class="paragraph02 clearfix">
                                <span>-</span>
                                <span>-</span>
								<span>-</span>
                                
                              </div>
                            </li>
                            <li >-</li>
                          </ul>
                        </a>
                      </li>
                      <li>
                        <a href="#">
                          <ul class="t_info match_info01 headline01 clearfix">
                            <li >-</li>
                            <li>
                              <div class="headline01 clearfix"><span>San Justo </span><span class="vs">vs</span> Pasion Azulgrana</div>
                              <div class="paragraph02 clearfix">
                                <span>- </span>
                                <span>-</span>
								<span>-</span>
                                
                              </div>
                            </li>
                            <li >-</li>
                          </ul>
                        </a>
                      </li>
                      <li>
                        <a href="#">
                          <ul class="t_info match_info01 headline01 clearfix">
                            <li >-</li>
                            <li>
                              <div class="headline01 clearfix"><span>San Juan y Boedo.</span><span class="vs">vs</span> Peña Villa Celina</div>
                              <div class="paragraph02 clearfix">
                                <span>- </span>
                                <span>-</span>
								<span>-</span>
                                
                              </div>
                            </li>
                            <li >-</li>
                          </ul>
                        </a>
                      </li>
                       <li>
                        <a href="#">
                          <ul class="t_info match_info01 headline01 clearfix">
                            <li >-</li>
                            <li>
                              <div class="headline01 clearfix"><span>3er Tiempo Azulgrana </span><span class="vs">vs</span> Mundo Azulgrana</div>
                              <div class="paragraph02 clearfix">
                                <span>- </span>
                                <span>-</span>
								<span>-</span>
                                
                              </div>
                            </li>
                            <li >-</li>
                          </ul>
                        </a>
                      </li>
                       <li>
                        <a href="#">
                          <ul class="t_info match_info01 headline01 clearfix">
                            <li >-</li>
                            <li>
                              <div class="headline01 clearfix"><span>San Francisco </span><span class="vs">vs</span> <span>San Antonio</span></div>
                              <div class="paragraph02 clearfix">
                                <span>- </span>
                                <span>-</span>
								<span>-</span>
                                
                              </div>
                            </li>
                            <li >-</li>
                          </ul>
                        </a>
                      </li>
                    </ul>
                  </div>  
                </div>
               
              </div>
			                   <!-- fixture -->  
  <div class="matchSchedule_details row">
                <div class="match_next">
                  <div class="wrap_match_next right-triangle ">
                    <div class="right-padding">
                      <h4 class="headline03">ZONA 2 <br/> Fecha 11</h4>
                    </div>  
                  </div>  
                </div>
                <div class="match_versus-wrap ">
                 <div class="wrap_match-innerdetails">
                     <ul class="home_tInfo scrollable">
                      <li>
                        <a href="#">
                          <ul class="t_info match_info01 headline01 clearfix">
                            <li >-</li>
                            <li>
                              <div class="headline01 clearfix"><span>Tierra Santa</span><span class="vs"> vs</span> Casla F.C.</div>
                              <div class="paragraph02 clearfix">
                                <span>-</span>
                                <span>-</span>
								<span>-</span>
                        </div></li>
						<li >-</li>
						</ul></a></li><li><a href="#">
						
                          <ul class="t_info match_info01 headline01 clearfix">
                            <li >-</li>
                            <li>
                              <div class="headline01 clearfix"><span>Boedo es una Joda </span><span class="vs">vs</span> Matadores</div>
                              <div class="paragraph02 clearfix">
                                <span>-</span>
                                <span>-</span>
								<span>-</span>
                                
                              </div>
                            </li>
                            <li >-</li>
                          </ul>
                        </a>
                      </li>
                      <li>
                        <a href="#">
                          <ul class="t_info match_info01 headline01 clearfix">
                            <li >-</li>
                            <li>
                              <div class="headline01 clearfix"><span>San Justo </span><span class="vs">vs</span> Pasion Azulgrana</div>
                              <div class="paragraph02 clearfix">
                                <span>- </span>
                                <span>-</span>
								<span>-</span>
                                
                              </div>
                            </li>
                            <li >-</li>
                          </ul>
                        </a>
                      </li>
                      <li>
                        <a href="#">
                          <ul class="t_info match_info01 headline01 clearfix">
                            <li >-</li>
                            <li>
                              <div class="headline01 clearfix"><span>San Juan y Boedo.</span><span class="vs">vs</span> Peña Villa Celina</div>
                              <div class="paragraph02 clearfix">
                                <span>- </span>
                                <span>-</span>
								<span>-</span>
                                
                              </div>
                            </li>
                            <li >-</li>
                          </ul>
                        </a>
                      </li>
                       <li>
                        <a href="#">
                          <ul class="t_info match_info01 headline01 clearfix">
                            <li >-</li>
                            <li>
                              <div class="headline01 clearfix"><span>3er Tiempo Azulgrana </span><span class="vs">vs</span> Mundo Azulgrana</div>
                              <div class="paragraph02 clearfix">
                                <span>- </span>
                                <span>-</span>
								<span>-</span>
                                
                              </div>
                            </li>
                            <li >-</li>
                          </ul>
                        </a>
                      </li>
                       <li>
                        <a href="#">
                          <ul class="t_info match_info01 headline01 clearfix">
                            <li >-</li>
                            <li>
                              <div class="headline01 clearfix"><span>San Francisco </span><span class="vs">vs</span> <span>San Antonio</span></div>
                              <div class="paragraph02 clearfix">
                                <span>- </span>
                                <span>-</span>
								<span>-</span>
                                
                              </div>
                            </li>
                            <li >-</li>
                          </ul>
                        </a>
                      </li>
                    </ul>
                  </div>  
                </div>
               
              </div>
			  
            </div>
        </div>
		
		
      </section>
    

      <!-- footer -->
      <footer ><!--class="footer-type01"-->
		 <%- include footer.ejs %>
	
      </footer>
    </div>
    

      
    <script src="js/vendor/vendor.js"></script>     
    <script src="js/main.js"></script>
        
</body>
</html>