<!doctype html>
<html class="no-js" lang="">
  <head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Torneo de Futbol Para Socios de San Lorenzo</title>
    <link rel="shortcut icon" href="favicon.ico">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
     <link rel="stylesheet" href="vendor.css">       
     <link rel="stylesheet" href="style.css">   
     <link rel="stylesheet" type="text/css" href="css/layerslider.css">
    <script src="js/vendor/modernizr.js"></script>    
  </head>
  <body>
    <!--[if lt IE 10]>
      <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    <div class="wrapper">
      <!-- header -->
      <header class="header-main">
        <div class="header-lower clearfix">
			<%- include menu.ejs %>
        </div>  
</header>

       <!-- banner section -->
      <div class="innerbannerwrap">
        <div class="content"></div>
        <div class="innerbanner">
          <h2 class="bannerHeadline">Fair <span>Play</span></h2>
        </div>
      </div>

      <section class="innerpage_all_wrap bg-white"> 
        <div class="container">
			<div class="row">
			<div class="matchSchedule_details row">
                
                <div class="match_versus-wrap2">
                  <div class="wrap_match-innerdetails">
                    <ul class="point_table2">
                       <li class="clearfix">
                        <div class="subPoint_table">
                          <div class="headline01 smallpoint">POS</div>
                          <div class="headline01 largepoint">NOMBRE DEL EQUIPO</div>
                          <div class="headline01 smallpoint1 row row">
							<div class="headline01 smallpoint1"><span><img src="images/yellow.jpg" alt="amarilla"></span></div>
							<div class="headline01 smallpoint1"><span><img src="images/red.jpg" alt="red"></span></div>
							<div class="headline01 smallpoint1"><span>Total</span></div>
                        </div>
						</div>
                      </li>
					  <li class="clearfix">
                        <div class="subPoint_table">
                          <div class="headline01 smallpoint">1</div>
                          <div class="headline01 largepoint">13 de Agosto</div>
                          <div class="headline01 smallpoint1 row row">
							<div class="headline01 smallpoint1"><span>00</span></div>
							<div class="headline01 smallpoint1"><span>00</span></div>
							<div class="headline01 smallpoint1"><span>00</span></div>
						  </div>
						</div>
                      </li>
                      <li class="clearfix">
                        <div class="subPoint_table">
                          <div class="headline01 smallpoint">2</div>
                          <div class="headline01 largepoint">30 de Noviembre</div>
                          <div class="headline01 smallpoint1 row row">
							<div class="headline01 smallpoint1"><span>00</span></div>
							<div class="headline01 smallpoint1"><span>00</span></div>
							<div class="headline01 smallpoint1"><span>00</span></div>

						  </div>
                        </div>
                      </li>
                      <li class="clearfix">
                        <div class="subPoint_table">
                          <div class="headline01 smallpoint">3</div>
                          <div class="headline01 largepoint">Boedo F.C.</div>
                          <div class="headline01 smallpoint1 row row">
							<div class="headline01 smallpoint1"><span>00</span></div>
							<div class="headline01 smallpoint1"><span>00</span></div>
							<div class="headline01 smallpoint1"><span>00</span></div>

						  </div>
                        </div>
                      </li>
                      <li class="clearfix">
                        <div class="subPoint_table">
                          <div class="headline01 smallpoint">4</div>
                          <div class="headline01 largepoint">Camboyanos</div>
                          <div class="headline01 smallpoint1 row row">
							<div class="headline01 smallpoint1"><span>00</span></div>
							<div class="headline01 smallpoint1"><span>00</span></div>
							<div class="headline01 smallpoint1"><span>00</span></div>

						  </div>
                        </div>
                      </li>
                      <li class="clearfix">
                        <div class="subPoint_table">
                          <div class="headline01 smallpoint">5</div>
                          <div class="headline01 largepoint">Donde Estes Estare</div>
                          <div class="headline01 smallpoint1 row row">
							<div class="headline01 smallpoint1"><span>00</span></div>
							<div class="headline01 smallpoint1"><span>00</span></div>
							<div class="headline01 smallpoint1"><span>00</span></div>

						  </div>
                        </div>
                      </li>
                      <li class="clearfix">
                        <div class="subPoint_table">
                          <div class="headline01 smallpoint">6</div>
                          <div class="headline01 largepoint">El Falcon de Ramon</div>
                          <div class="headline01 smallpoint1 row row">
							<div class="headline01 smallpoint1"><span>00</span></div>
							<div class="headline01 smallpoint1"><span>00</span></div>
							<div class="headline01 smallpoint1"><span>00</span></div>

						  </div>
                        </div>
                      </li>
                      <li class="clearfix">
                        <div class="subPoint_table">
                          <div class="headline01 smallpoint">7</div>
                          <div class="headline01 largepoint">Forzosos</div>
                          <div class="headline01 smallpoint1 row row">
							<div class="headline01 smallpoint1"><span>00</span></div>
							<div class="headline01 smallpoint1"><span>00</span></div>
							<div class="headline01 smallpoint1"><span>00</span></div>

						  </div>
                        </div>
                      </li>
                      <li class="clearfix">
                        <div class="subPoint_table">
                          <div class="headline01 smallpoint">8</div>
                          <div class="headline01 largepoint">Gauchos</div>
                          <div class="headline01 smallpoint1 row row">
							<div class="headline01 smallpoint1"><span>00</span></div>
							<div class="headline01 smallpoint1"><span>00</span></div>
							<div class="headline01 smallpoint1"><span>00</span></div>

						  </div>
                        </div>
                      </li>
                       <li class="clearfix">
                        <div class="subPoint_table">
                          <div class="headline01 smallpoint">9</div>
                          <div class="headline01 largepoint">Lorenzo Massa F.C.</div>
                          <div class="headline01 smallpoint1 row row">
							<div class="headline01 smallpoint1"><span>00</span></div>
							<div class="headline01 smallpoint1"><span>00</span></div>
							<div class="headline01 smallpoint1"><span>00</span></div>

						  </div>
                        </div>
                      </li>
                       <li class="clearfix">
                        <div class="subPoint_table">
                          <div class="headline01 smallpoint">10</div>
                          <div class="headline01 largepoint">Los Carasucias</div>
                          <div class="headline01 smallpoint1 row row">
							<div class="headline01 smallpoint1"><span>00</span></div>
							<div class="headline01 smallpoint1"><span>00</span></div>
							<div class="headline01 smallpoint1"><span>00</span></div>

						  </div>
                        </div>
                      </li>
                       <li class="clearfix">
                        <div class="subPoint_table">
                          <div class="headline01 smallpoint">11</div>
                          <div class="headline01 largepoint">Los Colas de Av. La Plata</div>
                          <div class="headline01 smallpoint1 row row">
							<div class="headline01 smallpoint1"><span>00</span></div>
							<div class="headline01 smallpoint1"><span>00</span></div>
							<div class="headline01 smallpoint1"><span>00</span></div>
						  </div>
                        </div>
                      </li>
                      <li class="clearfix">
                        <div class="subPoint_table">
                          <div class="headline01 smallpoint">12</div>
                          <div class="headline01 largepoint">Los Cuervos del Pasaje</div>
                          <div class="headline01 smallpoint1 row row">
							<div class="headline01 smallpoint1"><span>00</span></div>
							<div class="headline01 smallpoint1"><span>00</span></div>
							<div class="headline01 smallpoint1"><span>00</span></div>
						  </div>
                        </div>
                      </li>
					  <li class="clearfix">
                        <div class="subPoint_table">
                          <div class="headline01 smallpoint">13</div>
                          <div class="headline01 largepoint">Matadores</div>
                          <div class="headline01 smallpoint1 row row">
							<div class="headline01 smallpoint1"><span>00</span></div>
							<div class="headline01 smallpoint1"><span>00</span></div>
							<div class="headline01 smallpoint1"><span>00</span></div>
						  </div>
						</div>
                      </li>
                      <li class="clearfix">
                        <div class="subPoint_table">
                          <div class="headline01 smallpoint">14</div>
                          <div class="headline01 largepoint">Mundo Azulgrana</div>
                          <div class="headline01 smallpoint1 row row">
							<div class="headline01 smallpoint1"><span>00</span></div>
							<div class="headline01 smallpoint1"><span>00</span></div>
							<div class="headline01 smallpoint1"><span>00</span></div>
						  </div>
                        </div>
                      </li>
                      <li class="clearfix">
                        <div class="subPoint_table">
                          <div class="headline01 smallpoint">15</div>
                          <div class="headline01 largepoint">San Antonio A</div>
                          <div class="headline01 smallpoint1 row row">
							<div class="headline01 smallpoint1"><span>00</span></div>
							<div class="headline01 smallpoint1"><span>00</span></div>
							<div class="headline01 smallpoint1"><span>00</span></div>
						  </div>
                        </div>
                      </li>
                      <li class="clearfix">
                        <div class="subPoint_table">
                          <div class="headline01 smallpoint">16</div>
                          <div class="headline01 largepoint">San Francisco I</div>
                          <div class="headline01 smallpoint1 row row">
							<div class="headline01 smallpoint1"><span>00</span></div>
							<div class="headline01 smallpoint1"><span>00</span></div>
							<div class="headline01 smallpoint1"><span>00</span></div>
						  </div>
                        </div>
                      </li>
                      <li class="clearfix">
                        <div class="subPoint_table">
                          <div class="headline01 smallpoint">17</div>
                          <div class="headline01 largepoint">San Juan y Boedo</div>
                          <div class="headline01 smallpoint1 row row">
							<div class="headline01 smallpoint1"><span>00</span></div>
							<div class="headline01 smallpoint1"><span>00</span></div>
							<div class="headline01 smallpoint1"><span>00</span></div>
						  </div>
                        </div>
                      </li>
                      <li class="clearfix">
                        <div class="subPoint_table">
                          <div class="headline01 smallpoint">18</div>
                          <div class="headline01 largepoint">Tercer Tiempo Azulgrana</div>
                          <div class="headline01 smallpoint1 row row">
							<div class="headline01 smallpoint1"><span>00</span></div>
							<div class="headline01 smallpoint1"><span>00</span></div>
							<div class="headline01 smallpoint1"><span>00</span></div>
						  </div>
                        </div>
                      </li>
                      <li class="clearfix">
                        <div class="subPoint_table">
                          <div class="headline01 smallpoint">19</div>
                          <div class="headline01 largepoint">Tierra Santa</div>
                          <div class="headline01 smallpoint1 row row">
							<div class="headline01 smallpoint1"><span>00</span></div>
							<div class="headline01 smallpoint1"><span>00</span></div>
							<div class="headline01 smallpoint1"><span>00</span></div>
						  </div>
                        </div>
                      </li>
                      <li class="clearfix">
                        <div class="subPoint_table">
                          <div class="headline01 smallpoint">20</div>
                          <div class="headline01 largepoint">Boedo Es Una Joda F.C.</div>
                          <div class="headline01 smallpoint1 row row">
							<div class="headline01 smallpoint1"><span>00</span></div>
							<div class="headline01 smallpoint1"><span>00</span></div>
							<div class="headline01 smallpoint1"><span>00</span></div>
						  </div>
                        </div>
                      </li>
                       <li class="clearfix">
                        <div class="subPoint_table">
                          <div class="headline01 smallpoint">21</div>
                          <div class="headline01 largepoint">Pasion Azulgrana F.C.</div>
                          <div class="headline01 smallpoint1 row row">
							<div class="headline01 smallpoint1"><span>00</span></div>
							<div class="headline01 smallpoint1"><span>00</span></div>
							<div class="headline01 smallpoint1"><span>00</span></div>
						  </div>
                        </div>
                      </li>
                       <li class="clearfix">
                        <div class="subPoint_table">
                          <div class="headline01 smallpoint">22</div>
                          <div class="headline01 largepoint">CASLA F.C.</div>
                          <div class="headline01 smallpoint1 row row">
							<div class="headline01 smallpoint1"><span>00</span></div>
							<div class="headline01 smallpoint1"><span>00</span></div>
							<div class="headline01 smallpoint1"><span>00</span></div>
						  </div>
                        </div>
                      </li>
                       <li class="clearfix">
                        <div class="subPoint_table">
                          <div class="headline01 smallpoint">23</div>
                          <div class="headline01 largepoint">Peña San Justo</div>
                          <div class="headline01 smallpoint1 row row">
							<div class="headline01 smallpoint1"><span>00</span></div>
							<div class="headline01 smallpoint1"><span>00</span></div>
							<div class="headline01 smallpoint1"><span>00</span></div>
						  </div>
                        </div>
                      </li>
                      <li class="clearfix">
                        <div class="subPoint_table">
                          <div class="headline01 smallpoint">24</div>
                          <div class="headline01 largepoint">Peña Villa Celina</div>
                          <div class="headline01 smallpoint1 row row">
							<div class="headline01 smallpoint1"><span>00</span></div>
							<div class="headline01 smallpoint1"><span>00</span></div>
							<div class="headline01 smallpoint1"><span>00</span></div>
						  </div>
                        </div>
                      </li>
                    </ul>
					</div>
                  </div>
                </div>
 
		
            </div>
        </div>
		
		
      </section>
    

      <!-- footer -->
      <footer ><!--class="footer-type01"-->
	   <%- include footer.ejs %>
      </footer>
    </div>
    

      
    <script src="js/vendor/vendor.js"></script>     
    <script src="js/main.js"></script>
        
</body>
</html>
