<!doctype html>
<html class="no-js" lang="">
  <head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Torneo de Fútbol Para Socios del Club Atlético San Lorenzo de Almagro</title>
    <link rel="shortcut icon" href="favicon.ico">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
     <link rel="stylesheet" href="vendor.css">       
     <link rel="stylesheet" href="style.css">   
     <link rel="stylesheet" type="text/css" href="css/layerslider.css">
    <script src="js/vendor/modernizr.js"></script>    
  </head>
  <body>
    <!--[if lt IE 10]>
      <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    <div class="wrapper">
      <!-- header -->
      <header class="header-main">
        <div class="header-lower clearfix">
      <%- include menu.ejs %>
        </div>  
</header>

       <!-- banner section -->
      <div class="innerbannerwrap">
        <div class="content"></div>
        <div class="innerbannergoleadores">
          <h2 class="bannerHeadline">Goleadores Fecha15<span></span></h2>
        </div>
      </div>

      <section class="innerpage_all_wrap bg-white"> 
        <div class="container">
			<div class="row">
			<div class="matchSchedule_details row">
                
              <div class="match_versus-wrap2">
                  <div class="wrap_match-innerdetails">
                    <ul class="point_table2">
                       <li class="clearfix">
                        <div class="subPoint_table">
                          <div class="headline01 largepoint1">JUGADOR</div>
                          <div class="headline01 largepoint1">NOMBRE DEL EQUIPO</div>
                          <div class="headline01 largepoint1 row row">
							<div class="headline01 smallpoint1"><span>GOLES</span></div>
                        </div>
						</div>
                      </li>
					  <li class="clearfix">
                        <div class="subPoint_table">
                          <div class="headline01 largepoint1">García, Maximiliano</div>
                          <div class="headline01 largepoint1">San Francisco I</div>
                          <div class="headline01 largepoint1 row row">
							<div class="headline01 smallpoint1"><span>17</span></div>
						  </div>
						</div>
                      </li>
                      <li class="clearfix">
                        <div class="subPoint_table">
                          <div class="headline01 largepoint1">Marton, Jonathan</div>
                          <div class="headline01 largepoint1">Los Cuervos Del Pasaje</div>
                          <div class="headline01 largepoint1 row row">
							<div class="headline01 smallpoint1"><span>15</span></div>
						  </div>
						</div>
                      </li>
                      <li class="clearfix">
                        <div class="subPoint_table">
                          <div class="headline01 largepoint1">Weidert, Guido</div>
                          <div class="headline01 largepoint1">Los Cuervos Del Pasaje</div>
                          <div class="headline01 largepoint1 row row">
							<div class="headline01 smallpoint1"><span>14</span></div>
						  </div>
						</div>
                      </li>
                      <li class="clearfix">
                        <div class="subPoint_table">
                          <div class="headline01 largepoint1">Nicacio, Gaston</div>
                          <div class="headline01 largepoint1">Peña Villa Celina</div>
                          <div class="headline01 largepoint1 row row">
							<div class="headline01 smallpoint1"><span>13</span></div>
						  </div>
						</div>
                      </li>
                      <li class="clearfix">
                        <div class="subPoint_table">
                          <div class="headline01 largepoint1">Ratto, Ignacio Agustín</div>
                          <div class="headline01 largepoint1">Carasucias</div>
                          <div class="headline01 largepoint1 row row">
							<div class="headline01 smallpoint1"><span>12</span></div>
						  </div>
						</div>
                      </li>
                      <li class="clearfix">
                        <div class="subPoint_table">
                          <div class="headline01 largepoint1">Chacon, Nahuel</div>
                          <div class="headline01 largepoint1">Peña San Justo</div>
                          <div class="headline01 largepoint1 row row">
							<div class="headline01 smallpoint1"><span>12</span></div>
						  </div>
						</div>
                      </li>
                      <li class="clearfix">
                        <div class="subPoint_table">
                          <div class="headline01 largepoint1">Quinteros, Pablo Hernan</div>
                          <div class="headline01 largepoint1">Casla F.C.</div>
                          <div class="headline01 largepoint1 row row">
							<div class="headline01 smallpoint1"><span>12</span></div>
						  </div>
						</div>
                      </li>
                       <li class="clearfix">
                        <div class="subPoint_table">
                          <div class="headline01 largepoint1">Lapelosa, Ulises</div>
                          <div class="headline01 largepoint1">El Falcón De Ramón</div>
                          <div class="headline01 largepoint1 row row">
							<div class="headline01 smallpoint1"><span>11</span></div>
						  </div>
						</div>
                      </li>
                      <li class="clearfix">
                        <div class="subPoint_table">
                          <div class="headline01 largepoint1">Dagostino, Adrian Alejandro</div>
                          <div class="headline01 largepoint1">Casla F.C.</div>
                          <div class="headline01 largepoint1 row row">
							<div class="headline01 smallpoint1"><span>10</span></div>
						  </div>
						</div>
                      </li>
                       <li class="clearfix">
                       <div class="subPoint_table">
                          <div class="headline01 largepoint1">Lauandos, Federico</div>
                          <div class="headline01 largepoint1">Lorenzo Massa</div>
                          <div class="headline01 largepoint1 row row">
							<div class="headline01 smallpoint1"><span>10</span></div>
						  </div>
						</div>
                      </li>
                       <li class="clearfix">
                        <div class="subPoint_table">
                          <div class="headline01 largepoint1">Ramos, Juan Pablo</div>
                          <div class="headline01 largepoint1">Donde Estés Estaré</div>
                          <div class="headline01 largepoint1 row row">
							<div class="headline01 smallpoint1"><span>10</span></div>
						  </div>
						</div>
                      </li>
                       <li class="clearfix">
                        <div class="subPoint_table">
                          <div class="headline01 largepoint1">López, Cristian Daniel</div>
                          <div class="headline01 largepoint1">Boedo F.C.</div>
                          <div class="headline01 largepoint1 row row">
							<div class="headline01 smallpoint1"><span>10</span></div>
						  </div>
						</div>
                      </li>
                    </ul>
					</div>
                  </div>
                </div>Se muestran los primeros 10.
 
		
            </div>
        </div>
		
		
      </section>
    

      <!-- footer -->
      <footer ><!--class="footer-type01"-->
	   <%- include footer.ejs %>
      </footer>
    </div>
    

      
    <script src="js/vendor/vendor.js"></script>     
    <script src="js/main.js"></script>
        
</body>
</html>
