<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Torneo de Fútbol Para Socios del Club Atlético San Lorenzo de Almagro</title>
    <link rel="shortcut icon" href="favicon.ico">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
     <link rel="stylesheet" href="vendor.css">       
     <link rel="stylesheet" href="style.css">   
     <link rel="stylesheet" type="text/css" href="css/layerslider.css">
    <script src="js/vendor/modernizr.js"></script>    
  </head>
  <body>
    <!--[if lt IE 10]>
      <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    <div class="wrapper">
      <!-- header -->
      <header class="header-main">
        <div class="header-lower clearfix">
			<%- include menu.ejs %>
        </div>  
</header>

      <!-- Banner -->
      <div class="banner" id="layerSlider"
              style="width: 100%;">
              <div class="ls-slide" 
                data-ls="
                  transition3d: 33,15;
                  slidedelay: 8000 ;
                  durationin:0;
                ">
                <img src="images/banner/background01.jpg"  class="ls-bg" alt="Slide background">
                <div class="ls-l layercontent01"
                    style="top: 50%; left: 50%; z-index:4;" 
                      data-ls="
                         offsetxin:left;
                         offsetxout:right;  
                         durationin: 4000; 
                         parallaxlevel: 8;
                      ">
                  <img src="images/banner/player.png" alt="innerimage" class="img-responsive" style="max-width: 100% !important ; ">
                </div>
                <img src="images/banner/ball.png"  alt="innerimage" class="ls-l layercontent02" 
                    style="z-index:5;"
                    data-ls="
                      offsetxin: right; 
                      offsetxout:left; 
                      rotatein:-360; 
                      easingin: easeoutquart;
                      durationin: 4000; 
                      delayin: 250; 
                      parallaxlevel: -5;
                      ">
                <img src="images/banner/front_particles.png"  alt="particles" class="ls-l"
                  style="
                  z-index:3;
                  left:0;
                  " 
                  data-ls="
                        offsetxin: left; 
                        offsetxout:left; 
                        scalexin:50; 
                        easingin: easeoutquart;
                        durationin: 3000; 
                        delayin: 250; 
                        
                      "> 
                <img src="images/banner/back_particles.png"  alt="particles" class="ls-l"
                  style="
                  z-index:3;
                  left:50%;
                  " 
                  data-ls="
                        offsetxin: left; 
                        offsetxout:left; 
                        scalein:90;
                        easingin: easeoutquart;
                        durationin: 3000; 
                        delayin: 250; 
                        
                      ">            
                <h2 class="ls-l bannertext layercontent03" 
                  data-ls="
                    offsetxin:left; 
                    rotatexin:90 ;
                    durationin: 3500; 
                  ">
                  Fútbol
                </h2>
                <h2 class="ls-l bannertext01 italic01 layercontent04"
                  data-ls="
                    offsetxin:left; 
                    scalexin:9;
                    durationin: 4000; 
                  ">
                  Recreativo
                </h2>   
                <h4 class="ls-l bannertext02 layercontent05"
                  data-ls="
                    offsetxin:left; 
                    rotatexin:90 ;
                    durationin: 4500;
                  ">
                  Para Adultos
                </h4>
              </div>
      </div>
      
      <div class="banner-text">
        <div class="container">
          <div class="row">
           Fútbol Recreativo para Adultos
          </div>
        </div>
      </div>
		<!-- booking -->
      <section class="booking bg-smallwhite" id="infoDelTorneo">
        <div class="container">
          <div class="booking-fig">
            <h2>INFO DEL TORNEO</h2>
          </div>
          <div class="booking-content">
            <a href="archivo/fichamedica.pdf" target="_blank" class="btn btn-white"> Ficha Médica</a>
            <a href="https://www.facebook.com/pg/copaviejogasometro/about/?ref=page_internal" target="_blank" class="btn btn-red">+ Info</a>
          </div>
        </div>
      </section>
        <!-- about -->
      <section class="about">
        <div class="container">
          <div class="row">
            <h2 class="heading">San Lorenzo <span>Fútbol Recreativo para Adultos</span></h2>
         <div class="about-wrap">
              <div class="tab-content nav-content">
               		<p  role="tabpanel" class="tab-pane fade" id="quienes">“La Copa Viejo Gasómetro" creada en el año 2011, es un torneo de fútbol que se disputa durante el año calendario en la ciudad deportiva del Club Atlético San Lorenzo de Almagro.

El mismo se disputa en canchas de 11 de primer nivel. El formato de torneo es de liga clasificatorio a playoff y las finales del mismo torneo se disputan en el estadio profesional de fútbol Pedro Bidegain, conocido popularmente como Nuevo Gasómetro.

En el, participan equipos conformados por socios del club, adultos mayores de 18 años sin limite máximo de edad.	

La finalidad del torneo es que los socios tengan un espacio y tiempo para recrearse dentro de las instalaciones del club de forma amateur, sin  improvisación. Fomentando la camaradería entre los mismos. Por esto ponemos especial hincapié en la conducta, tanto dentro, como fuera de la cancha, para hacer del fair play la bandera principal del mismo.

El torneo es organizado por los socios y dirigentes del club que colaboran en forma Ad honorem, los cuales integran una Sub Comisión designada por la Comisión Directiva del club.

Integrantes de la actual Sub Comisión del Fútbol Recreativo Adultos en San Lorenzo:

Marcelo Moretti - Presidente
Jorge A. Rodriguez - Vice Presidente
Sebastián Villaboa - Secretario
Pablo Zanardo
Ricardo Troiano

Dirección: Avenida General Fernández de la Cruz 2145, C1437GZA Ciudad Autonoma de Buenos Aires.</p>
                <p role="tabpanel" class="tab-pane active fade in" id="comunicado">REGLAS DE PRESENTACIÓN DE LOS EQUIPOS:
Los carnets deben ser entregados 10 minutos antes del inicio programado del partido y, en ese mismo momento se debe abonar el importe de la cancha. Si no se realiza esta presentación a tiempo se dará el partido por perdido.
En el caso que un jugador llegue con posterioridad al inicio del partido deberá permanecer fuera de la cancha hasta la finalización del primer tiempo. Al finalizar el mismo podrá ingresar y quedará previa presentación del carnet habilitado para jugar.
Todos los partidos deben iniciarse con un mínimo de 7 jugadores caso contrario se da por perdido el mismo al equipo que no junte 7 jugadores Cada partido debe concluir 10 minutos antes del inicio del próximo partido.
PÚBLICO:
Se recuerda que en las canchas de sintético, sólo pueden estar dentro de la misma los jugadores, Mas dos personas debidamente identificadas con carnet o documento. 
No se permite que estén niños dentro del predio de las mismas a fin de evitar accidentes.
Evitemos demoras en el inicio de los partidos
JUGADORES HABILITADOS:
Son aquéllos que están inscriptos en las plantillas de buena fe y que cumplan con los requisitos para participar del torneo.
Mayor de 18 años, cuota de socio al día (a la fecha se exige AGOSTO) y apto médico presentado.
El día lunes posterior a la fecha en curso se hará un control en el club del estado de los socios.
Si se encuentra que participo un jugador que no estaba habilitado, automáticamente será suspendido y el equipo al que pertenece perderá los puntos y/o se le quitaran tres puntos (no se le da ganado al rival) tal como lo dispone el Art. 107 del Reglamento de Transgresiones y Penas.
MUCHAS GRACIAS SUBCOMISIÓN FRA.</p>
                            
              </div>
              <div class="nav-header" id="aboutTab">
                <ul class="nav nav-tabs clearfix" role="tablist">
                  <li>
                    <a href="#quienes" aria-controls="quienes" role="tab" data-toggle="tab">Quienes Somos</a>
                  </li>
                  <li class="active">
                    <a href="#comunicado" aria-controls="comunicado" role="tab" data-toggle="tab">Comunicado</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        
        
        
        
      </section> 
      
        <!-- gallery -->
      <section class="gallery" id="galeria">
        <div class="container">
          <div class="row">
            <h2 class="heading">Galeria <span>de Imagenes</span></h2>
            <p class="headParagraph"></p>
            
          </div>
        </div>
        <div  class="galleryWrapper">
          <div class="grid">

            

            <div class="grid_item ">
              <div class="gallery_dtl"> 
                <img src="images/gallery/gallery02.jpg" alt="image">
                <div class="gallery_info">
                    <div class="galleryinfo_wrap">
                      <p class="uppercase"> </p>
                      <p class="red_p"> </p>
                    </div>

                </div> 
              </div>  
            </div> 

            
            
            <div class="grid_item ">
              <div class="gallery_dtl">
                <img src="images/gallery/gallery03.jpg" alt="image">
                <div class="gallery_info">
                    <div class="galleryinfo_wrap">
                      <p class="uppercase"> </p>
                      <p class="red_p"> </p>
                    </div>

                </div> 
              </div>
            </div>

            <div class="grid_item">
              <div class="gallery_dtl">
                <img src="images/gallery/gallery04.jpg" alt="image">
                <div class="gallery_info">
                    <div class="galleryinfo_wrap">
                      <p class="uppercase"> </p>
                      <p class="red_p"> </p>
                    </div>

                </div> 
              </div>  
            </div>
            <div class="grid_item">
              <div class="gallery_dtl">
                <img src="images/gallery/gallery021.jpg" alt="image">
                <div class="gallery_info">
                    <div class="galleryinfo_wrap">
                      <p class="uppercase"> </p>
                      <p class="red_p"> </p>
                    </div>

                </div> 
              </div>
            </div> 
            <div class="grid_item ">  
              <div class="gallery_dtl">
                <img src="images/gallery/gallery032.jpg" alt="image">
                <div class="gallery_info">
                    <div class="galleryinfo_wrap">
                      <p class="uppercase"> </p>
                      <p class="red_p"> </p>
                    </div>
                </div> 
              </div>  
            </div>  
           
            <div class="grid_item  ">  
              <div class="gallery_dtl">
                <img src="images/gallery/five.jpg" alt="image">
                <div class="gallery_info">
                    <div class="galleryinfo_wrap">
                      <p class="uppercase"> </p>
                      <p class="red_p"> </p>
                    </div>
                </div> 
              </div>  
            </div>  
            <div class="grid_item  ">  
              <div class="gallery_dtl">
                <img src="images/gallery/gallery031.jpg" alt="image">
                <div class="gallery_info">
                    <div class="galleryinfo_wrap">
                      <p class="uppercase"> </p>
                      <p class="red_p"> </p>
                    </div>
                </div> 
              </div>  
            </div>    
            <div class="grid_item">  
              <div class="gallery_dtl">
                <img src="images/gallery/masonry/medium_01.jpg"  alt="image">
                <div class="gallery_info">
                    <div class="galleryinfo_wrap">
                      <p class="uppercase"> </p>
                      <p class="red_p"> </p>
                    </div>
                </div> 
              </div>  
            </div>
            <div class="grid_item">  
              <div class="gallery_dtl">
                <img src="images/gallery/gallery041.jpg"  alt="image">
                <div class="gallery_info">
                    <div class="galleryinfo_wrap">
                      <p class="uppercase"> </p>
                      <p class="red_p"> </p>
                    </div>

                </div> 
              </div>  
            </div>
            <div class="grid_item">  
              <div class="gallery_dtl">
                <img src="images/gallery/masonry/medium_03.jpg" alt="image">
                <div class="gallery_info">
                    <div class="galleryinfo_wrap">
                      <p class="uppercase"> </p>
                      <p class="red_p"> </p>
                    </div>

                </div> 
              </div>  
          </div>
             <div class="gutter"></div>
            
          </div>
        </div>
       
        <a href="https://www.facebook.com/pg/copaviejogasometro/photos/?ref=page_internal" target="_blank" class="btn btn-red"> Ver + Fotos</a>
      </section>  


      <!-- footer -->
      <footer ><!--class="footer-type01"-->
	 <%- include footer.ejs %>
      </footer>
    </div>
    

      
    <script src="js/vendor/vendor.js"></script>     
    <script src="js/main.js"></script>
        
</body>
</html>
