<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Torneo de Fútbol Para Socios del Club Atlético San Lorenzo de Almagro</title>
    <link rel="shortcut icon" href="favicon.ico">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
     <link rel="stylesheet" href="vendor.css">       
     <link rel="stylesheet" href="style.css">   
     <link rel="stylesheet" type="text/css" href="css/layerslider.css">
    <script src="js/vendor/modernizr.js"></script>    
  </head>
  <body>
    <!--[if lt IE 10]>
      <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    <div class="wrapper">
      <!-- header -->
      <header class="header-main">
        <div class="header-lower clearfix">
			<%- include menu.ejs %>
        </div>  
</header>

      <!-- Banner -->
      <div class="banner" id="layerSlider"
              style="width: 100%;">
              <div class="ls-slide" 
                data-ls="
                  transition3d: 33,15;
                  slidedelay: 8000 ;
                  durationin:0;
                ">
                <img src="images/banner/background01.jpg"  class="ls-bg" alt="Slide background">
                <div class="ls-l layercontent01"
                    style="top: 50%; left: 50%; z-index:4;" 
                      data-ls="
                         offsetxin:left;
                         offsetxout:right;  
                         durationin: 4000; 
                         parallaxlevel: 8;
                      ">
                  <img src="images/banner/player.png" alt="innerimage" class="img-responsive" style="max-width: 100% !important ; ">
                </div>
                <img src="images/banner/ball.png"  alt="innerimage" class="ls-l layercontent02" 
                    style="z-index:5;"
                    data-ls="
                      offsetxin: right; 
                      offsetxout:left; 
                      rotatein:-360; 
                      easingin: easeoutquart;
                      durationin: 4000; 
                      delayin: 250; 
                      parallaxlevel: -5;
                      ">
                <img src="images/banner/front_particles.png"  alt="particles" class="ls-l"
                  style="
                  z-index:3;
                  left:0;
                  " 
                  data-ls="
                        offsetxin: left; 
                        offsetxout:left; 
                        scalexin:50; 
                        easingin: easeoutquart;
                        durationin: 3000; 
                        delayin: 250; 
                        
                      "> 
                <img src="images/banner/back_particles.png"  alt="particles" class="ls-l"
                  style="
                  z-index:3;
                  left:50%;
                  " 
                  data-ls="
                        offsetxin: left; 
                        offsetxout:left; 
                        scalein:90;
                        easingin: easeoutquart;
                        durationin: 3000; 
                        delayin: 250; 
                        
                      ">            
                <h2 class="ls-l bannertext layercontent03" 
                  data-ls="
                    offsetxin:left; 
                    rotatexin:90 ;
                    durationin: 3500; 
                  ">
                  Fútbol
                </h2>
                <h2 class="ls-l bannertext01 italic01 layercontent04"
                  data-ls="
                    offsetxin:left; 
                    scalexin:9;
                    durationin: 4000; 
                  ">
                  Recreativo
                </h2>   
                <h4 class="ls-l bannertext02 layercontent05"
                  data-ls="
                    offsetxin:left; 
                    rotatexin:90 ;
                    durationin: 4500;
                  ">
                  Para Adultos
                </h4>
              </div>
      </div>
      
      <div class="banner-text">
        <div class="container">
          <div class="row">
           Fútbol Recreativo para Adultos
          </div>
        </div>
      </div>
		<!-- booking -->
      <section class="booking bg-smallwhite">
        <div class="container">
          <div class="booking-fig">
            <h2>INFO DEL TORNEO</h2>
          </div>
          <div class="booking-content">
            <a href="archivo/fichamedica.pdf" target="_blank" class="btn btn-white"> Ficha Médica</a>
            <a href="#" class="btn btn-red">+ Info</a>
          </div>
        </div>
      </section>
        <!-- about -->
      <section class="about">
        <div class="container">
          <div class="row">
            <h2 class="heading">San Lorenzo <span>Fútbol Recreativo para Adultos</span></h2>
         <div class="about-wrap">
              <div class="tab-content nav-content">
               		<p  role="tabpanel" class="tab-pane fade" id="quienes">“La Copa Viejo Gasómetro" creada en el año 2011, es un torneo de fútbol que se disputa durante el año calendario en la ciudad deportiva del Club Atlético San Lorenzo de Almagro.

El mismo se disputa en canchas de 11 de primer nivel. El formato de torneo es de liga clasificatorio a playoff y las finales del mismo torneo se disputan en el estadio profesional de fútbol Pedro Bidegain, conocido popularmente como Nuevo Gasómetro.

En el, participan equipos conformados por socios del club, adultos mayores de 18 años sin limite máximo de edad.	

La finalidad del torneo es que los socios tengan un espacio y tiempo para recrearse dentro de las instalaciones del club de forma amateur, sin  improvisación. Fomentando la camaradería entre los mismos. Por esto ponemos especial hincapié en la conducta, tanto dentro, como fuera de la cancha, para hacer del fair play la bandera principal del mismo.

El torneo es organizado por los socios y dirigentes del club que colaboran en forma Ad honorem, los cuales integran una Sub Comisión designada por la Comisión Directiva del club.

Integrantes de la actual Sub Comisión del Fútbol Recreativo Adultos en San Lorenzo:

Marcelo Moretti - Presidente
Jorge A. Rodriguez - Vice Presidente
Sebastián Villaboa - Secretario
Pablo Zanardo
Ricardo Troiano

Dirección: Avenida General Fernández de la Cruz 2145, C1437GZA Ciudad Autonoma de Buenos Aires.</p>
                  <p role="tabpanel" class="tab-pane fade" id="equipos">Los Equipos que participan actualmente son: 1) <b>13 De Agosto</b>  2) <b>30 de Noviembre</b>  3) <b>Boedo F.C.</b>  4) <b>Camboyanos</b>  5) <b>Donde Estés Estaré</b>  6) <b>El Falcon de Ramón</b>  7) <b>Forzosos</b>  8) <b>Gauchos</b>  9) <b>Lorenzo Massa F.C.</b>  10) <b>Los Carasucias</b>  11) <b>Los Colas De Avenida La Plata</b>  12) <b>Los Cuervos Del Pasaje</b>  13) <b>Matadores</b>  14) <b>Mundo Azulgrana</b>  15) <b>San Antonio</b>  16) <b>San Francisco I</b>  17) <b>San Juan y Boedo</b>  18) <b>Tercer Tiempo Azulgrana</b>  19) <b>Tierra Santa</b>  20) <b>Boedo Es Una Joda</b>  21) <b>Pasión Azulgrana F.C.</b>  22) <b>CASLA F.C.</b>  23) <b>Peña San Justo</b>  24) <b>Peña Villa Celina</b></p>
                <p role="tabpanel" class="tab-pane active fade in" id="comunicado">REGLAS DE PRESENTACIÓN DE LOS EQUIPOS:
Los carnets deben ser entregados 10 minutos antes del inicio programado del partido y, en ese mismo momento se debe abonar el importe de la cancha. Si no se realiza esta presentación a tiempo se dará el partido por perdido.
En el caso que un jugador llegue con posterioridad al inicio del partido deberá permanecer fuera de la cancha hasta la finalización del primer tiempo. Al finalizar el mismo podrá ingresar y quedará previa presentación del carnet habilitado para jugar.
Todos los partidos deben iniciarse con un mínimo de 7 jugadores caso contrario se da por perdido el mismo al equipo que no junte 7 jugadores Cada partido debe concluir 10 minutos antes del inicio del próximo partido.
PÚBLICO:
Se recuerda que en las canchas de sintético, sólo pueden estar dentro de la misma los jugadores, Mas dos personas debidamente identificadas con carnet o documento. 
No se permite que estén niños dentro del predio de las mismas a fin de evitar accidentes.
Evitemos demoras en el inicio de los partidos
JUGADORES HABILITADOS:
Son aquéllos que están inscriptos en las plantillas de buena fe y que cumplan con los requisitos para participar del torneo.
Mayor de 18 años, cuota de socio al día (a la fecha se exige AGOSTO) y apto médico presentado.
El día lunes posterior a la fecha en curso se hará un control en el club del estado de los socios.
Si se encuentra que participo un jugador que no estaba habilitado, automáticamente será suspendido y el equipo al que pertenece perderá los puntos y/o se le quitaran tres puntos (no se le da ganado al rival) tal como lo dispone el Art. 107 del Reglamento de Transgresiones y Penas.
MUCHAS GRACIAS SUBCOMISIÓN FRA.</p>
                            
              </div>
              <div class="nav-header" id="aboutTab">
                <ul class="nav nav-tabs clearfix" role="tablist">
                  <li>
                    <a href="#quienes" aria-controls="quienes" role="tab" data-toggle="tab">Quienes Somos</a>
                  </li>
                  <li >
                    <a href="#equipos" aria-controls="equipos" role="tab" data-toggle="tab">Equipos</a>
                  </li>
                  <li class="active">
                    <a href="#comunicado" aria-controls="comunicado" role="tab" data-toggle="tab">Comunicado</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        
        
        
        
      </section> 
        <!-- latest result -->
      <section class="latestResult"> 
        <div class="container">

            <h2 class="heading">Tabla de <span>Posiciones</span></h2>
<div class="row">
			<div class="matchSchedule_details row">
                <div class="match_next">
                  <div class="wrap_match_next right-triangle ">
                    <div class="right-padding">
                      <h4 class="headline03">Zona 1 <br/> Sergio Villar </h4>
                    </div>  
                  </div>  
                </div>
                <div class="match_versus-wrap">
                  <div class="wrap_match-innerdetails">
                    <ul class="point_table scrollable">
                       <li class="clearfix">
                        <div class="subPoint_table">
                          <div class="headline01 smallpoint">POS</div>
                          <div class="headline01 largepoint">EQUIPO</div>
                          <div class="headline01 smallpoint1 row row">
							<div class="headline01 smallpoint1"><span>PJ</span></div>
							<div class="headline01 smallpoint1"><span>PG</span></div>
							<div class="headline01 smallpoint1"><span>PE</span></div>
							<div class="headline01 smallpoint1"><span>PP</span></div>
							<div class="headline01 smallpoint1"><span>GF</span></div>
							<div class="headline01 smallpoint1"><span>GC</span></div>
							<div class="headline01 smallpoint1"><span>DIF</span></div>
							<div class="headline01 smallpoint1"><span>PTS</span></div>
                        </div>
						</div>
                      </li>
					  <li class="clearfix">
                        <div class="subPoint_table">
                          <div class="headline01 smallpoint">1</div>
                          <div class="headline01 largepoint">El Falcon De Ramón</div>
                          <div class="headline01 smallpoint1 row row">
							<div class="headline01 smallpoint1"><span>12</span></div>
							<div class="headline01 smallpoint1"><span>10</span></div>
							<div class="headline01 smallpoint1"><span>01</span></div>
							<div class="headline01 smallpoint1"><span>01</span></div>
							<div class="headline01 smallpoint1"><span>31</span></div>
							<div class="headline01 smallpoint1"><span>09</span></div>
							<div class="headline01 smallpoint1"><span>22</span></div>
							<div class="headline01 smallpoint1">31</div>
						  </div>
						</div>
                      </li>
                      <li class="clearfix">
                        <div class="subPoint_table">
                          <div class="headline01 smallpoint">2</div>
                          <div class="headline01 largepoint">Los Cuervos Del Pasaje</div>
                          <div class="headline01 smallpoint1 row row">
						<div class="headline01 smallpoint1"><span>12</span></div>
							<div class="headline01 smallpoint1"><span>09</span></div>
							<div class="headline01 smallpoint1"><span>01</span></div>
							<div class="headline01 smallpoint1"><span>02</span></div>
							<div class="headline01 smallpoint1"><span>39</span></div>
							<div class="headline01 smallpoint1"><span>09</span></div>
							<div class="headline01 smallpoint1"><span>30</span></div>
							<div class="headline01 smallpoint1">28</div>
						  </div>
                        </div>
                      </li>
                      <li class="clearfix">
                        <div class="subPoint_table">
                          <div class="headline01 smallpoint">3</div>
                          <div class="headline01 largepoint">Donde Estés Estaré</div>
                          <div class="headline01 smallpoint1 row row">
						<div class="headline01 smallpoint1"><span>12</span></div>
							<div class="headline01 smallpoint1"><span>07</span></div>
							<div class="headline01 smallpoint1"><span>01</span></div>
							<div class="headline01 smallpoint1"><span>04</span></div>
							<div class="headline01 smallpoint1"><span>24</span></div>
							<div class="headline01 smallpoint1"><span>15</span></div>
							<div class="headline01 smallpoint1"><span>09</span></div>
							<div class="headline01 smallpoint1">22</div>
						  </div>
                        </div>
                      </li>
                      <li class="clearfix">
                        <div class="subPoint_table">
                          <div class="headline01 smallpoint">4</div>
                          <div class="headline01 largepoint">Los Colas De Avenida La Plata</div>
                          <div class="headline01 smallpoint1 row row">
						<div class="headline01 smallpoint1"><span>12</span></div>
							<div class="headline01 smallpoint1"><span>06</span></div>
							<div class="headline01 smallpoint1"><span>04</span></div>
							<div class="headline01 smallpoint1"><span>02</span></div>
							<div class="headline01 smallpoint1"><span>17</span></div>
							<div class="headline01 smallpoint1"><span>10</span></div>
							<div class="headline01 smallpoint1"><span>07</span></div>
							<div class="headline01 smallpoint1">22</div>
						  </div>
                        </div>
                      </li>
                      <li class="clearfix">
                        <div class="subPoint_table">
                          <div class="headline01 smallpoint">5</div>
                          <div class="headline01 largepoint">Lorenzo Massa</div>
                          <div class="headline01 smallpoint1 row row">
						<div class="headline01 smallpoint1"><span>12</span></div>
							<div class="headline01 smallpoint1"><span>07</span></div>
							<div class="headline01 smallpoint1"><span>00</span></div>
							<div class="headline01 smallpoint1"><span>05</span></div>
							<div class="headline01 smallpoint1"><span>30</span></div>
							<div class="headline01 smallpoint1"><span>21</span></div>
							<div class="headline01 smallpoint1"><span>09</span></div>
							<div class="headline01 smallpoint1">21</div>
						  </div>
                        </div>
                      </li>
                      <li class="clearfix">
                        <div class="subPoint_table">
                          <div class="headline01 smallpoint">6</div>
                          <div class="headline01 largepoint">Boedo F.C.</div>
                          <div class="headline01 smallpoint1 row row">
						<div class="headline01 smallpoint1"><span>12</span></div>
							<div class="headline01 smallpoint1"><span>06</span></div>
							<div class="headline01 smallpoint1"><span>02</span></div>
							<div class="headline01 smallpoint1"><span>04</span></div>
							<div class="headline01 smallpoint1"><span>23</span></div>
							<div class="headline01 smallpoint1"><span>19</span></div>
							<div class="headline01 smallpoint1"><span>04</span></div>
							<div class="headline01 smallpoint1">20</div>
						  </div>
                        </div>
                      </li>
                      <li class="clearfix">
                        <div class="subPoint_table">
                          <div class="headline01 smallpoint">7</div>
                          <div class="headline01 largepoint">30 De Noviembre</div>
                          <div class="headline01 smallpoint1 row row">
						<div class="headline01 smallpoint1"><span>12</span></div>
							<div class="headline01 smallpoint1"><span>05</span></div>
							<div class="headline01 smallpoint1"><span>02</span></div>
							<div class="headline01 smallpoint1"><span>05</span></div>
							<div class="headline01 smallpoint1"><span>14</span></div>
							<div class="headline01 smallpoint1"><span>18</span></div>
							<div class="headline01 smallpoint1"><span>-04</span></div>
							<div class="headline01 smallpoint1">17</div>
						  </div>
                        </div>
                      </li>
                      <li class="clearfix">
                        <div class="subPoint_table">
                          <div class="headline01 smallpoint">8</div>
                          <div class="headline01 largepoint">Carasucias</div>
                          <div class="headline01 smallpoint1 row row">
						<div class="headline01 smallpoint1"><span>12</span></div>
							<div class="headline01 smallpoint1"><span>04</span></div>
							<div class="headline01 smallpoint1"><span>00</span></div>
							<div class="headline01 smallpoint1"><span>08</span></div>
							<div class="headline01 smallpoint1"><span>18</span></div>
							<div class="headline01 smallpoint1"><span>39</span></div>
							<div class="headline01 smallpoint1"><span>-21</span></div>
							<div class="headline01 smallpoint1">12</div>
						  </div>
                        </div>
                      </li>
                       <li class="clearfix">
                        <div class="subPoint_table">
                          <div class="headline01 smallpoint">9</div>
                          <div class="headline01 largepoint">Gauchos (*)</div>
                          <div class="headline01 smallpoint1 row row">
						<div class="headline01 smallpoint1"><span>12</span></div>
							<div class="headline01 smallpoint1"><span>03</span></div>
							<div class="headline01 smallpoint1"><span>02</span></div>
							<div class="headline01 smallpoint1"><span>07</span></div>
							<div class="headline01 smallpoint1"><span>20</span></div>
							<div class="headline01 smallpoint1"><span>25</span></div>
							<div class="headline01 smallpoint1"><span>-05</span></div>
							<div class="headline01 smallpoint1">11</div>
						  </div>
                        </div>
                      </li>
                       <li class="clearfix">
                        <div class="subPoint_table">
                          <div class="headline01 smallpoint">10</div>
                          <div class="headline01 largepoint">13 De Agosto (*)</div>
                          <div class="headline01 smallpoint1 row row">
						<div class="headline01 smallpoint1"><span>12</span></div>
							<div class="headline01 smallpoint1"><span>03</span></div>
							<div class="headline01 smallpoint1"><span>01</span></div>
							<div class="headline01 smallpoint1"><span>08</span></div>
							<div class="headline01 smallpoint1"><span>09</span></div>
							<div class="headline01 smallpoint1"><span>19</span></div>
							<div class="headline01 smallpoint1"><span>-10</span></div>
							<div class="headline01 smallpoint1">10</div>
						  </div>
                        </div>
                      </li>
                       <li class="clearfix">
                        <div class="subPoint_table">
                          <div class="headline01 smallpoint">11</div>
                          <div class="headline01 largepoint">Camboyanos</div>
                          <div class="headline01 smallpoint1 row row">
						<div class="headline01 smallpoint1"><span>12</span></div>
							<div class="headline01 smallpoint1"><span>03</span></div>
							<div class="headline01 smallpoint1"><span>01</span></div>
							<div class="headline01 smallpoint1"><span>08</span></div>
							<div class="headline01 smallpoint1"><span>12</span></div>
							<div class="headline01 smallpoint1"><span>32</span></div>
							<div class="headline01 smallpoint1"><span>-20</span></div>
							<div class="headline01 smallpoint1">10</div>
						  </div>
                        </div>
                      </li>
                      <li class="clearfix">
                        <div class="subPoint_table">
                          <div class="headline01 smallpoint">12</div>
                          <div class="headline01 largepoint">Forzozos</div>
                          <div class="headline01 smallpoint1 row row">
						<div class="headline01 smallpoint1"><span>12</span></div>
							<div class="headline01 smallpoint1"><span>01</span></div>
							<div class="headline01 smallpoint1"><span>01</span></div>
							<div class="headline01 smallpoint1"><span>10</span></div>
							<div class="headline01 smallpoint1"><span>05</span></div>
							<div class="headline01 smallpoint1"><span>26</span></div>
							<div class="headline01 smallpoint1"><span>-21</span></div>
							<div class="headline01 smallpoint1">04</div>
						  </div>
                        </div>
                      </li>
                    </ul>
					</div>
                  </div>
                </div>
 
			<div class="row">
			<div class="matchSchedule_details row">
                <div class="match_next">
                  <div class="wrap_match_next right-triangle ">
                    <div class="right-padding">
                      <h4 class="headline03">Zona 2<br/>Héctor Scotta</h4>
                    </div>  
                  </div>  
                </div>
                <div class="match_versus-wrap">
                  <div class="wrap_match-innerdetails">
                    <ul class="point_table scrollable">
                       <li class="clearfix">
                        <div class="subPoint_table">
                          <div class="headline01 smallpoint">POS</div>
                          <div class="headline01 largepoint">EQUIPO</div>
                          <div class="headline01 smallpoint1 row row">
							<div class="headline01 smallpoint1"><span>PJ</span></div>
							<div class="headline01 smallpoint1"><span>PG</span></div>
							<div class="headline01 smallpoint1"><span>PE</span></div>
							<div class="headline01 smallpoint1"><span>PP</span></div>
							<div class="headline01 smallpoint1"><span>GF</span></div>
							<div class="headline01 smallpoint1"><span>GC</span></div>
                            <div class="headline01 smallpoint1"><span>DIF</span></div>
							<div class="headline01 smallpoint1"><span>PTS</span></div>
                        </div>
						</div>
                      </li>
					  <li class="clearfix">
                        <div class="subPoint_table">
                          <div class="headline01 smallpoint">1</div>
                          <div class="headline01 largepoint">Mundo Azulgrana</div>
                          <div class="headline01 smallpoint1 row row">
						<div class="headline01 smallpoint1"><span>12</span></div>
							<div class="headline01 smallpoint1"><span>10</span></div>
							<div class="headline01 smallpoint1"><span>01</span></div>
							<div class="headline01 smallpoint1"><span>01</span></div>
							<div class="headline01 smallpoint1"><span>32</span></div>
							<div class="headline01 smallpoint1"><span>10</span></div>
							<div class="headline01 smallpoint1"><span>22</span></div>
							<div class="headline01 smallpoint1">31</div>
						  </div>
						</div>
                      </li>
                      <li class="clearfix">
                        <div class="subPoint_table">
                          <div class="headline01 smallpoint">2</div>
                          <div class="headline01 largepoint">Casla F.C.</div>
                          <div class="headline01 smallpoint1 row row">
						<div class="headline01 smallpoint1"><span>12</span></div>
							<div class="headline01 smallpoint1"><span>10</span></div>
							<div class="headline01 smallpoint1"><span>00</span></div>
							<div class="headline01 smallpoint1"><span>02</span></div>
							<div class="headline01 smallpoint1"><span>42</span></div>
							<div class="headline01 smallpoint1"><span>13</span></div>
							<div class="headline01 smallpoint1"><span>29</span></div>
							<div class="headline01 smallpoint1">30</div>
						  </div>
                        </div>
                      </li>
                      <li class="clearfix">
                        <div class="subPoint_table">
                          <div class="headline01 smallpoint">3</div>
                          <div class="headline01 largepoint">San Francisco I</div>
                          <div class="headline01 smallpoint1 row row">
						<div class="headline01 smallpoint1"><span>12</span></div>
							<div class="headline01 smallpoint1"><span>08</span></div>
							<div class="headline01 smallpoint1"><span>02</span></div>
							<div class="headline01 smallpoint1"><span>02</span></div>
							<div class="headline01 smallpoint1"><span>35</span></div>
							<div class="headline01 smallpoint1"><span>07</span></div>
							<div class="headline01 smallpoint1"><span>28</span></div>
							<div class="headline01 smallpoint1">26</div>
						  </div>
                        </div>
                      </li>
                      <li class="clearfix">
                        <div class="subPoint_table">
                          <div class="headline01 smallpoint">4</div>
                          <div class="headline01 largepoint">Peña San Justo</div>
                          <div class="headline01 smallpoint1 row row">
						<div class="headline01 smallpoint1"><span>12</span></div>
							<div class="headline01 smallpoint1"><span>08</span></div>
							<div class="headline01 smallpoint1"><span>00</span></div>
							<div class="headline01 smallpoint1"><span>04</span></div>
							<div class="headline01 smallpoint1"><span>31</span></div>
							<div class="headline01 smallpoint1"><span>16</span></div>
							<div class="headline01 smallpoint1"><span>15</span></div>
							<div class="headline01 smallpoint1">24</div>
						  </div>
                        </div>
                      </li>
                      <li class="clearfix">
                        <div class="subPoint_table">
                          <div class="headline01 smallpoint">5</div>
                          <div class="headline01 largepoint">San Antonio (*)</div>
                          <div class="headline01 smallpoint1 row row">
						<div class="headline01 smallpoint1"><span>12</span></div>
							<div class="headline01 smallpoint1"><span>08</span></div>
							<div class="headline01 smallpoint1"><span>00</span></div>
							<div class="headline01 smallpoint1"><span>04</span></div>
							<div class="headline01 smallpoint1"><span>31</span></div>
							<div class="headline01 smallpoint1"><span>35</span></div>
							<div class="headline01 smallpoint1"><span>-04</span></div>
							<div class="headline01 smallpoint1">24</div>
						  </div>
                        </div>
                      </li>
                      <li class="clearfix">
                        <div class="subPoint_table">
                          <div class="headline01 smallpoint">6</div>
                          <div class="headline01 largepoint">San Juan Y Boedo</div>
                          <div class="headline01 smallpoint1 row row">
						<div class="headline01 smallpoint1"><span>12</span></div>
							<div class="headline01 smallpoint1"><span>05</span></div>
							<div class="headline01 smallpoint1"><span>03</span></div>
							<div class="headline01 smallpoint1"><span>04</span></div>
							<div class="headline01 smallpoint1"><span>18</span></div>
							<div class="headline01 smallpoint1"><span>23</span></div>
							<div class="headline01 smallpoint1"><span>-05</span></div>
							<div class="headline01 smallpoint1">18</div>
						  </div>
                        </div>
                      </li>
                      <li class="clearfix">
                        <div class="subPoint_table">
                          <div class="headline01 smallpoint">7</div>
                          <div class="headline01 largepoint">Boedo Es Una Joda (*)</div>
                          <div class="headline01 smallpoint1 row row">
						<div class="headline01 smallpoint1"><span>12</span></div>
							<div class="headline01 smallpoint1"><span>05</span></div>
							<div class="headline01 smallpoint1"><span>02</span></div>
							<div class="headline01 smallpoint1"><span>05</span></div>
							<div class="headline01 smallpoint1"><span>20</span></div>
							<div class="headline01 smallpoint1"><span>19</span></div>
							<div class="headline01 smallpoint1"><span>01</span></div>
							<div class="headline01 smallpoint1">17</div>
						  </div>
                        </div>
                      </li>
                      <li class="clearfix">
                        <div class="subPoint_table">
                          <div class="headline01 smallpoint">8</div>
                          <div class="headline01 largepoint">Peña Villa Celina</div>
                          <div class="headline01 smallpoint1 row row">
						<div class="headline01 smallpoint1"><span>12</span></div>
							<div class="headline01 smallpoint1"><span>03</span></div>
							<div class="headline01 smallpoint1"><span>04</span></div>
							<div class="headline01 smallpoint1"><span>05</span></div>
							<div class="headline01 smallpoint1"><span>23</span></div>
							<div class="headline01 smallpoint1"><span>23</span></div>
							<div class="headline01 smallpoint1"><span>00</span></div>
							<div class="headline01 smallpoint1">13</div>
						  </div>
                        </div>
                      </li>
                       <li class="clearfix">
                        <div class="subPoint_table">
                          <div class="headline01 smallpoint">9</div>
                          <div class="headline01 largepoint">Matadores</div>
                          <div class="headline01 smallpoint1 row row">
						<div class="headline01 smallpoint1"><span>12</span></div>
							<div class="headline01 smallpoint1"><span>02</span></div>
							<div class="headline01 smallpoint1"><span>02</span></div>
							<div class="headline01 smallpoint1"><span>08</span></div>
							<div class="headline01 smallpoint1"><span>11</span></div>
							<div class="headline01 smallpoint1"><span>31</span></div>
							<div class="headline01 smallpoint1"><span>-20</span></div>
							<div class="headline01 smallpoint1">08</div>
						  </div>
                        </div>
                      </li>
                       <li class="clearfix">
                        <div class="subPoint_table">
                          <div class="headline01 smallpoint">10</div>
                          <div class="headline01 largepoint">Pasión Azulgrana F.C.</div>
                          <div class="headline01 smallpoint1 row row">
						<div class="headline01 smallpoint1"><span>12</span></div>
							<div class="headline01 smallpoint1"><span>02</span></div>
							<div class="headline01 smallpoint1"><span>01</span></div>
							<div class="headline01 smallpoint1"><span>09</span></div>
							<div class="headline01 smallpoint1"><span>09</span></div>
							<div class="headline01 smallpoint1"><span>28</span></div>
							<div class="headline01 smallpoint1"><span>-19</span></div>
							<div class="headline01 smallpoint1">07</div>
						  </div>
                        </div>
                      </li>
                       <li class="clearfix">
                        <div class="subPoint_table">
                          <div class="headline01 smallpoint">11</div>
                          <div class="headline01 largepoint">Tercer Tiempo Azulgrana</div>
                          <div class="headline01 smallpoint1 row row">
						<div class="headline01 smallpoint1"><span>12</span></div>
							<div class="headline01 smallpoint1"><span>01</span></div>
							<div class="headline01 smallpoint1"><span>03</span></div>
							<div class="headline01 smallpoint1"><span>08</span></div>
							<div class="headline01 smallpoint1"><span>11</span></div>
							<div class="headline01 smallpoint1"><span>33</span></div>
							<div class="headline01 smallpoint1"><span>-22</span></div>
							<div class="headline01 smallpoint1">06</div>
						  </div>
                        </div>
                      </li>
                      <li class="clearfix">
                        <div class="subPoint_table">
                          <div class="headline01 smallpoint">12</div>
                          <div class="headline01 largepoint">Tierra Santa</div>
                          <div class="headline01 smallpoint1 row row">
						<div class="headline01 smallpoint1"><span>12</span></div>
							<div class="headline01 smallpoint1"><span>01</span></div>
							<div class="headline01 smallpoint1"><span>00</span></div>
							<div class="headline01 smallpoint1"><span>11</span></div>
							<div class="headline01 smallpoint1"><span>10</span></div>
							<div class="headline01 smallpoint1"><span>35</span></div>
							<div class="headline01 smallpoint1"><span>-25</span></div>
							<div class="headline01 smallpoint1">03</div>
						  </div>
                        </div>
                      </li>
                    </ul>
					</div>
                  </div>
                </div>
            </div><div class="headline01 clearfix"><span>(*)Se le descontaran 3 puntos al finalizar el torneo por inclusión de jugadores inhabilitados.</span>
          </div>
        </div>
		
		
      </section>
        <!-- match sedule -->
      <section class="matchSchedule">
        <div class="container">
          <div class="row">
            <h2 class="heading">Próxima Fecha 15 /<span>Domingo 21 de Agosto</span></h2>
 <!-- proximo partidos zona 1  -->
       <div class="matchSchedule_details row">
                <div class="match_versus-wrap ">
                  <div class="wrap_match-innerdetails">
                    <ul class="home_tInfo scrollable">
                      <li>
                        <a href="#">
                          <ul class="t_info match_info01 headline01 clearfix">
                            <li >9:00</li>
                            <li>
                              <div class="headline01 clearfix"><span>Gauchos</span><span class="vs">vs</span><span>Lorenzo Massa</span></div>
                              <div class="paragraph02 clearfix">
                                <span></span>
                                <span>Cancha Sintético 1</span>
								<span></span>
                                
                              </div>
                            </li>
            <li ></li>
                          </ul>
                        </a>
                      </li>
                      <li>
                        <a href="#">
                          <ul class="t_info match_info01 headline01 clearfix">
                            <li >11:15</li>
                            <li>
                              <div class="headline01 clearfix"><span>Camboyanos</span><span class="vs">vs</span><span>30 De Noviembre</span></div>
                              <div class="paragraph02 clearfix">
                                <span></span>
                                <span>Cancha Lechuga</span>
								<span></span>
                                
                              </div>
                            </li>
            <li ></li>
                          </ul>
                        </a>
                      </li>
                      <li>
                        <a href="#">
                          <ul class="t_info match_info01 headline01 clearfix">
                            <li >12:30</li>
                            <li>
                              <div class="headline01 clearfix"><span>Los Cuervos Del Pasaje</span><span class="vs">vs</span><span>Boedo F.C.</span></div>
                              <div class="paragraph02 clearfix">
                                <span></span>
                                <span>Cancha Lechuga</span>
								<span></span>
                                
                              </div>
                            </li>
            <li ></li>
                          </ul>
                        </a>
                      </li>
                      <li>
                        <a href="#">
                          <ul class="t_info match_info01 headline01 clearfix">
                            <li >14:10</li>
                            <li>
                              <div class="headline01 clearfix"><span>El Falcón De Ramón</span><span class="vs">vs</span><span>Los Colas De Av. La Plata</span></div>
                              <div class="paragraph02 clearfix">
                                <span></span>
                                <span>Cancha Sintético 2</span>
								<span></span>
                                
                              </div>
                            </li>
                            <li ></li>
                          </ul>
                        </a>
                      </li>
                        <li>
                        <a href="#">
                          <ul class="t_info match_info01 headline01 clearfix">
                            <li >15:30</li>
                            <li>
                              <div class="headline01 clearfix"><span>Donde Estés Estaré</span><span class="vs">vs</span><span>13 De Agosto</span></div>
                              <div class="paragraph02 clearfix">
                                <span></span>
                                <span>Cancha Sintético 2</span>
								<span></span>
                                
                              </div>
                            </li>
            <li ></li>
                          </ul>
                        </a>
                      </li>
                       <li>
                        <a href="#">
                          <ul class="t_info match_info01 headline01 clearfix">
                            <li >2</li>
                            <li>
                              <div class="headline01 clearfix"><span>Los Carasucias</span><span class="vs">vs</span><span>Forzosos</span></div>
                              <div class="paragraph02 clearfix">
                                <span></span>
                                <span>L.W.O.</span>
								<span></span>
                                
                              </div>
                            </li>
            <li >0</li>
                          </ul>
                        </a>
                      </li>
                    </ul>
                  </div>  
                </div> 
				<div class="match_next">
                  <div class="wrap_match_next left_triangle ">
                    <div class="left_padding">
                      <h4 class="headline03">ZONA 1<br/>Sergio Villar</h4>
                      
                    </div>  
                  </div>  
                </div>
				    </div>   <!-- proximo partidos zona 2  -->
						
							                   <!-- fixture -->  
  <div class="matchSchedule_details row">
                <div class="match_next">
                  <div class="wrap_match_next right-triangle ">
                    <div class="right-padding">
                      <h4 class="headline03">ZONA 2<br/>Héctor Scotta</h4>
                    </div>  
                  </div>  
                </div>
                <div class="match_versus-wrap ">
                 <div class="wrap_match-innerdetails">
                     <ul class="home_tInfo scrollable">
                      <li>
                        <a href="#">
                          <ul class="t_info match_info01 headline01 clearfix">
                            <li >10:00</li>
                            <li>
                              <div class="headline01 clearfix"><span>Tercer Tiempo Azulgrana</span><span class="vs">vs</span><span>Peña Villa Celina</span></div>
                              <div class="paragraph02 clearfix">
                                <span></span>
                                <span>Cancha Lechuga</span>
								<span></span>
                        </div></li>
			<li ></li>
						</ul></a></li><li><a href="#">
						
                          <ul class="t_info match_info01 headline01 clearfix">
                            <li >10:15</li>
                            <li>
                              <div class="headline01 clearfix"><span>Casla F.C.</span><span class="vs">vs</span><span>Mundo Azulgrana</span></div>
                              <div class="paragraph02 clearfix">
                                <span></span>
                                <span>Cancha Sintético 1</span>
								<span></span>
                                
                              </div>
                            </li>
            <li ></li>
                          </ul>
                        </a>
                      </li>
                      <li>
                        <a href="#">
                          <ul class="t_info match_info01 headline01 clearfix">
                            <li >11:30</li>
                            <li>
                              <div class="headline01 clearfix"><span>Pasión Azulgrana F.C.</span><span class="vs">vs</span><span>Boedo Es Una Joda</span></div>
                              <div class="paragraph02 clearfix">
                                <span></span>
                                <span>Cancha Sintético 1</span>
								<span></span>
                                
                              </div>
                            </li>
            <li ></li>
                          </ul>
                        </a>
                      </li>
                       <li>
                        <a href="#">
                          <ul class="t_info match_info01 headline01 clearfix">
                            <li >12:45</li>
                            <li>
                              <div class="headline01 clearfix"><span>San Juan Y Boedo</span><span class="vs">vs</span><span>San Francisco I</span></div>
                              <div class="paragraph02 clearfix">
                                <span></span>
                                <span>Cancha Sintético 1</span>
								<span></span>
                                
                              </div>
                            </li>
            <li ></li>
                          </ul>
                        </a>
                      </li>
                       <li>
                        <a href="#">
                          <ul class="t_info match_info01 headline01 clearfix">
                            <li >14:00</li>
                            <li>
                              <div class="headline01 clearfix"><span>Peña San Justo</span><span class="vs">vs</span><span>San Antonio</span></div>
                              <div class="paragraph02 clearfix">
                                <span></span>
                                <span>Cancha Sintético 1</span>
								<span></span>
                                
                              </div>
                            </li>
            <li ></li>
                          </ul>
                        </a>
                      </li>
                       <li>
                        <a href="#">
                          <ul class="t_info match_info01 headline01 clearfix">
                            <li >15:15</li>
                            <li>
                              <div class="headline01 clearfix"><span>Tierra Santa</span><span class="vs">vs</span><span>Matadores</span></div>
                              <div class="paragraph02 clearfix">
                                <span></span>
                                <span>Cancha Sintético 1</span>
								<span></span>
                                
                              </div>
                            </li>
            <li ></li>
                          </ul>
                        </a>
                      </li>
                    </ul>
                  </div>  
                </div>
               
              </div>

	        </div>
          </div>
        </div>
      </section> 
       <!-- Accesos directos --> 
      <section class="booking bookticket">
        <div class="container">
          <div class="booking-fig">
		  <h2> Estadísticas </h2>
          </div>
          <div class="booking-content">
            <a href="/goleadores" class="btn btn-white">Goleadores</a>
            <a href="/sanciones" class="btn btn-white">Sancionados</a>
        </div>
      </section>  
      
        <!-- lastest video  
      <section class="latestvideo">
        <div class="container">
          <div class="row">
            <h2 class="heading">latest <span>video</span></h2>
            <p class="headParagraph">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil debitis mollitia qui libero voluptate ratione, molestias! Necessitatibus voluptatem temporibus doloremque non, vel ipsam, nesciunt dolores consequatur, est tempora ut! Est?>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil debitis mollitia qui libero voluptate ratione, molestias! Necessitatibus voluptatem temporibus doloremque non, vel ipsam, nesciunt dolores consequatur, est tempora ut! Est.</p>
          
            <div class="video-wrap clearfix">
              <div class="video-content clearfix" >
                <a class="btn-up"></a>
                <ul class="videoLive clearfix" id="videoSlide" role="tablist">
                  <li>
                    <a class="changeVideo" data-yt-video="W7qWa52k-nE">
                      <div><span>september 10, 2015</span>
                          consectetur adipisicing elit : 
                          <span>Live audio and video</span>
                      </div>

                    </a>
                  </li>
                  <li>
                    <a class="changeVideo" data-yt-video="YtXNB-0cFBo">
                      <div><span>september 10, 2015</span>
                          consectetur adipisicing elit : 
                          <span>Live audio and video</span>
                      </div>

                    </a>
                  </li>
                  <li>
                    <a class="changeVideo" data-yt-video="W7qWa52k-nE">
                      <div><span>september 10, 2015</span>
                          consectetur adipisicing elit : 
                          <span>Live audio and video</span>
                      </div>
                    </a>
                  </li>
                  <li>
                    <a class="changeVideo" data-yt-video="yw3Cw5eG1wM">
                      <div><span>september 10, 2015</span>
                          consectetur adipisicing elit : 
                          <span>Live audio and video</span>
                      </div>
                    </a>
                  </li>
                  <li>
                    <a class="changeVideo" data-yt-video="W7qWa52k-nE">
                      <div><span>september 10, 2015</span>
                          consectetur adipisicing elit : 
                          <span>Live audio and video</span>
                      </div>
                    </a>
                  </li>
                </ul>
                <a class="btn-down"></a>
              </div>
              <div class="video-show">
                <div class="video-container"  id="video01" data-current-video="W7qWa52k-nE">
                  <iframe src="http://www.youtube.com/embed/W7qWa52k-nE" class="liveVideo" allowfullscreen=""></iframe>
                </div> 
              </div>
            </div>
          </div>
        </div>
      </section>
        <!-- latest News  
      <section class="latest_news bg-white">
        <div class="container">
          <div class="row">
            <h2 class="heading">latest <span>news</span></h2>
            <p class="headParagraph">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil debitis mollitia qui libero voluptate ratione, molestias! Necessitatibus voluptatem temporibus doloremque non, vel ipsam, nesciunt dolores consequatur, est tempora ut! Est?>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil debitis mollitia qui libero voluptate ratione, molestias! Necessitatibus voluptatem temporibus doloremque non, vel ipsam, nesciunt dolores consequatur, est tempora ut! Est.</p>
            <div class="LatestNews_wrap clearfix">
              <ul class="nav  accordion-news" role="tablist">
                <li><a href="#world_news" aria-controls="world_news" role="tab" data-toggle="tab" id="world_news_button">world news</a></li>
                <li class="active"><a href="#club_news" aria-controls="club_news" role="tab" data-toggle="tab" id="club_news_button">club news</a></li>
              </ul>
              <div class="tab-content news_display_container clearfix">
                <!-- <a  class="prv world_prev"></a> 
                <!-- <a  class="nxt world_next"></a> 
                <ul id="world_news" class="tab-pane">
                  <li>
                    <div class="figure">
                      <div class="column-news">
                        <div class="figure-01">
                          <img src="images/news/w_news_01.jpg" alt="image">
                        </div>
                        <div class="content-01">
                          <h6><a href="#">consectetur adipisicing elit</a></h6>
                          <p class="red_p">Stories of the legends</p>
                          <p class="describtion">Lorem ipsum dolor sit amet, consectetur adipisicing elit. </p>
                        </div>
                        <div class="news_date clearfix">
                          <span>october 14,2015</span>
                          <span class="like"><a href="#">45</a></span>
                        </div>
                      </div>
                    </div>
                  </li>
                  <li>
                    <div class="figure">
                      <div class="column-news">
                        <div class="figure-01">
                          <img src="images/news/w_news_01.jpg" alt="image">
                        </div>
                        <div class="content-01">
                          <h6><a href="#">consectetur adipisicing elit</a></h6>
                          <p class="red_p">Stories of the legends</p>
                          <p class="describtion">Lorem ipsum dolor sit amet, consectetur adipisicing elit. </p>
                        </div>
                        <div class="news_date clearfix">
                          <span>october 14,2015</span>
                          <span class="like"><a href="#">45</a></span>
                        </div>
                      </div>
                    </div>
                  </li>
                  <li>
                    <div class="figure">
                      <div class="column-news">
                        <div class="figure-01">
                          <img src="images/news/w_news-02.jpg" alt="image">
                        </div>
                        <div class="content-01">
                          <h6><a href="#">consectetur adipisicing elit</a></h6>
                          <p class="red_p">Stories of the legends</p>
                          <p class="describtion">Lorem ipsum dolor sit amet, consectetur adipisicing elit. </p>
                          
                        </div>
                        <div class="news_date clearfix">
                          <span>october 14,2015</span>
                          <span class="like"><a href="#">45</a></span>
                        </div>
                      </div>
                    </div>
                  </li>
                  <li>
                    <div class="figure">
                      <div class="column-news">
                        <div class="figure-01">
                          <img src="images/news/w_news-03.jpg" alt="image">
                        </div>
                        <div class="content-01">
                          <h6><a href="#">consectetur adipisicing elit</a></h6>
                          <p class="red_p">Stories of the legends</p>
                          <p class="describtion">Lorem ipsum dolor sit amet, consectetur adipisicing elit. </p>
                          
                        </div>
                        <div class="news_date clearfix">
                          <span>october 14,2015</span>
                          <span class="like"><a href="#">45</a></span>
                        </div>
                      </div>
                    </div>
                  </li>
                  <li>
                    <div class="figure">
                      <div class="column-news">
                        <div class="figure-01">
                          <img src="images/news/w-news-04.jpg" alt="image">
                        </div>
                        <div class="content-01">
                          <h6><a href="#">consectetur adipisicing elit</a></h6>
                          <p class="red_p">Stories of the legends</p>
                          <p class="describtion">Lorem ipsum dolor sit amet, consectetur adipisicing elit. </p>
                          
                        </div>
                        <div class="news_date clearfix">
                          <span>october 14,2015</span>
                          <span class="like"><a href="#">45</a></span>
                        </div>
                      </div>
                    </div>
                  </li>
                </ul>
                <a  class="prv club_prev"></a>
                <a  class="nxt club_next"></a>
                <ul  id="club_news" class="tab-pane active clearfix">
                  <li>
                    <div class="figure">
                      <div class="column-news">
                        <div class="figure-01">
                          <img src="images/news/c_news_01.jpg" alt="image">
                        </div>
                        <div class="content-01">
                          <h6><a href="#">consectetur adipisicing elit</a></h6>
                          <p class="red_p">Stories of the legends</p>
                          <p class="describtion">Lorem ipsum dolor sit amet, consectetur adipisicing elit. </p>
                          
                        </div>
                        <div class="news_date clearfix">
                          <span>october 14,2015</span>
                          <span class="like"><a href="#">45</a></span>
                        </div>
                      </div>
                    </div>
                  </li>
                  <li>
                    <div class="figure">
                      <div class="column-news">
                        <div class="figure-01">
                          <img src="images/news/c_news_02.jpg" alt="image">
                        </div>
                        <div class="content-01">
                          <h6><a href="#">consectetur adipisicing elit</a></h6>
                          <p class="red_p">Stories of the legends</p>
                          <p class="describtion">Lorem ipsum dolor sit amet, consectetur adipisicing elit. </p>
                          
                        </div>
                        <div class="news_date clearfix">
                          <span>october 14,2015</span>
                          <span class="like"><a href="#">45</a></span>
                        </div>
                      </div>
                    </div>
                  </li>
                  <li>
                    <div class="figure">
                      <div class="column-news">
                        <div class="figure-01">
                          <img src="images/news/c_news_03.jpg" alt="image">
                        </div>
                        <div class="content-01">
                          <h6><a href="#">consectetur adipisicing elit</a></h6>
                          <p class="red_p">Stories of the legends</p>
                          <p class="describtion">Lorem ipsum dolor sit amet, consectetur adipisicing elit. </p>
                          
                        </div>
                        <div class="news_date clearfix">
                          <span>october 14,2015</span>
                          <span class="like"><a href="#">45</a></span>
                        </div>
                      </div>
                    </div>
                  </li>
                  <li>
                    <div class="figure">
                      <div class="column-news">
                        <div class="figure-01">
                          <img src="images/news/c_news_04.jpg" alt="image">
                        </div>
                        <div class="content-01">
                          <h6><a href="#">consectetur adipisicing elit</a></h6>
                          <p class="red_p">Stories of the legends</p>
                          <p class="describtion">Lorem ipsum dolor sit amet, consectetur adipisicing elit. </p>
                          
                        </div>
                        <div class="news_date clearfix">
                          <span>october 14,2015</span>
                          <span class="like"><a href="#">45</a></span>
                        </div>
                      </div>
                    </div>
                  </li>
                  <li>
                    <div class="figure">
                      <div class="column-news">
                        <div class="figure-01">
                          <img src="images/news/c_news_05.jpg" alt="image">
                        </div>
                        <div class="content-01">
                          <h6><a href="#">consectetur adipisicing elit</a></h6>
                          <p class="red_p">Stories of the legends</p>
                          <p class="describtion">Lorem ipsum dolor sit amet, consectetur adipisicing elit. </p>
                          
                        </div>
                        <div class="news_date clearfix">
                          <span>october 14,2015</span>
                          <span class="like"><a href="#">45</a></span>
                        </div>
                      </div>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </section> -->
        <!-- club history 
      <section class="club_history">
        <div class="container">
          <div class="row">
            <h2 class="heading">club <span>history</span></h2>
            <p class="headParagraph">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perferendis consequuntur animi, commodi, voluptatibus labore aperiam fugit maxime quos optio architecto cum? Laborum nesciunt doloribus expedita atque error rem molestias, ducimus.</p>
            <div class="nav clubHistory-wrap clearfix">
              <ul class="historyMeter">
                <li>
                  <a href="#">
                    <span>1987</span>
                  </a>  
                </li>
                <li class="win">

                  <a href="#win01">

                 
                    <span>1988</span>
                  </a>
                </li>
                <li>
                  <a href="#">
                    <span>1989</span>
                  </a>  
                </li>
                <li>
                  <a href="#">
                    <span>1990</span>
                  </a>  
                </li>
                <li class="win active">

                  <a href="#win02">

                 
                    <span>1991</span>
                  </a>
                </li>
                <li>
                  <a href="#">
                    <span>1991</span>
                  </a>  
                </li>
                <li>
                  <a href="#">
                    <span>1995</span>
                  </a> 
                </li>
                <li>
                  <a href="#">
                    <span>1997</span>
                  </a>
                </li>
                <li class="win">

                  <a href="#win03">

                    <span>2000</span>
                  </a>
                </li>
                <li><span>2005</span></li>
                <li><span>2007</span></li>
                <li><span>2009</span></li>
                <li class="win">

                  <a href="#win04">

                    <span>2012</span>
                  </a>
                </li>
                <li>
                  <a href="#">
                    <span>2013</span>
                  </a>
                </li>
                <li>
                  <a href="#">
                    <span>2014</span>
                  </a>
                </li>
                <li class="win">
                  <a href="#win05">

                    <span>2015</span>
                  </a>
                </li>
              </ul>
              <div class="tab-content historyVideoWrap clearfix">

              <div role="tabpanel" class="tab-pane clearfix" id="win01">
                
                  <div class="historyVideo">
                    <div class="historyvideoContainer">
                       <iframe src="https://www.youtube.com/embed/rPEd-h8DdRI"  allowfullscreen></iframe>
                    </div>
                  </div>
                  <div class="historyContent">
                    <h4><span>fifa 1988, </span> uefa champions league</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam non voluptatibus error a esse maiores, ducimus sit unde alias aspernatur perspiciatis itaque corporis? Accusamus pariatur dolorum repellendus consectetur tempore harum?
                   Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium a modi atque reprehenderit eos, error impedit voluptatum quo quaerat placeat accusantium molestiae quod dolore, quae quos, blanditiis recusandae id iste? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium a modi atque reprehenderit.</p>
                    <a href="clubHistoryDetails.html" class="btn-small btn-red">Read more</a>
                  </div>
              
              </div>

              <div role="tabpanel" class="tab-pane active clearfix" id="win02">
               
                  <div class="historyVideo">
                    <div class="historyvideoContainer">
                       <iframe src="https://www.youtube.com/embed/rPEd-h8DdRI"  allowfullscreen></iframe>
                    </div>
                  </div>
                  <div class="historyContent">
                    <h4><span>fifa 1991 , </span> uefa champions league</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam non voluptatibus error a esse maiores, ducimus sit unde alias aspernatur perspiciatis itaque corporis? Accusamus pariatur dolorum repellendus consectetur tempore harum?
                   Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium a modi atque reprehenderit eos, error impedit voluptatum quo quaerat placeat accusantium molestiae quod dolore, quae quos, blanditiis recusandae id iste? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium a modi atque reprehenderit eos, error impedit voluptatum quo quaerat placeat .</p>
                    <a href="clubHistoryDetails.html" class="btn-small btn-red">Read more</a>
                  </div>
             
              </div>

              <div role="tabpanel" class="tab-pane clearfix" id="win03">
                 
                  <div class="historyVideo">
                    <div class="historyvideoContainer">
                       <iframe src="https://www.youtube.com/embed/F6U5-B3NUKA"  allowfullscreen></iframe>
                    </div>
                  </div>
                  <div class="historyContent">
                    <h4><span>fifa 2000 , </span> uefa champions league</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam non voluptatibus error a esse maiores, ducimus sit unde alias aspernatur perspiciatis itaque corporis? Accusamus pariatur dolorum repellendus consectetur tempore harum?
                   Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium a modi atque reprehenderit eos, error impedit voluptatum quo quaerat placeat accusantium molestiae quod dolore, quae quos, blanditiis recusandae id iste? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium a modi atque reprehenderit .</p>
                    <a href="clubHistoryDetails.html" class="btn-small btn-red">Read more</a>
                  </div>
               
              </div>
               
              <div role="tabpanel" class="tab-pane clearfix" id="win04">
               
                  <div class="historyVideo">
                    <div class="historyvideoContainer">
                       <iframe src="https://www.youtube.com/embed/rPEd-h8DdRI"  allowfullscreen></iframe>
                    </div>
                  </div>
                  <div class="historyContent">
                    <h4><span>fifa 2012, </span> uefa champions league</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam non voluptatibus error a esse maiores, ducimus sit unde alias aspernatur perspiciatis itaque corporis? Accusamus pariatur dolorum repellendus consectetur tempore harum?
                   Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium a modi atque reprehenderit eos, error impedit voluptatum quo quaerat placeat accusantium molestiae quod dolore, quae quos, blanditiis recusandae id iste? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium a modi atque reprehenderit,</p>
                    <a href="clubHistoryDetails.html" class="btn-small btn-red">Read more</a>
                  </div>
               
              </div> 

              <div role="tabpanel" class="tab-pane clearfix" id="win05">
                
                  <div class="historyVideo">
                    <div class="historyvideoContainer">
                       <iframe src="https://www.youtube.com/embed/rPEd-h8DdRI"  allowfullscreen></iframe>
                    </div>
                  </div>
                  <div class="historyContent">
                    <h4><span>fifa 2015 , </span> uefa champions league</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam non voluptatibus error a esse maiores, ducimus sit unde alias aspernatur perspiciatis itaque corporis? Accusamus pariatur dolorum repellendus consectetur tempore harum?
                   Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium a modi atque reprehenderit eos, error impedit voluptatum quo quaerat placeat accusantium molestiae quod dolore, quae quos, blanditiis recusandae id iste? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium a modi atque reprehenderit eos, error impedit voluptatum quo quaerat placeat accusantium molestiae quod dolore, quae quos, blanditiis recusandae id iste.</p>
                    <a href="clubHistoryDetails.html" class="btn-small btn-red">Read more</a>
                  </div>
             
              </div>
              </div>
            </div>
          </div>
        </div>
      </section> -->
        <!-- players 
      <section class="players homeplayer">
        <div class="container">
          <div class="row">
            <h2 class="heading">our <span>heroes</span></h2>
            <p class="headParagraph">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perferendis consequuntur animi, commodi, voluptatibus labore aperiam fugit maxime quos optio architecto cum? Laborum nesciunt doloribus expedita atque error rem molestias, ducimus.</p>
            <div class="wrapplayer clearfix">
              <a class="prv prev-player"></a>
              <a class="nxt next-player"></a>
              <ul class="slideHeroes clearfix">

                <li>
                  <a href="">
                    <div class="playerFig">
                      <div class="playerpic">
                        <div style="background:url(images/player/player01.jpg)" class="bgimg" ></div>

                      </div>
                      <ul class="playerDetails clearfix">
                        <li>
                            <span>Daren Difiore </span>
                            <span><img src="images/icons/tShirt.png" alt="image"></span>
                        </li>
                        <li class="playinfodetails">
                          age 28 (born 22 april ,1987)
                        </li>
                        <li class="playerInfo">
                          <span>goalkeeper</span>
                          <span><i class="fa fa-heart"></i>20</span>
                          
                        </li>
                        
                      </ul>
                    </div>
                  </a>
                </li>
                <li>
                  <a href="">
                    <div class="playerFig">
                      <div class="playerpic">
                        <div  style="background:url(images/player/player02.jpg)" class="bgimg"></div>
                      </div>
                      <ul class="playerDetails clearfix">
                        <li>
                            <span>Terry Tijerina  </span>
                            <span><img src="images/icons/tShirt.png" alt="image"></span>
                        </li>
                        <li class="playinfodetails">
                          age 28 (born 22 april ,1987)
                        </li>
                        <li class="playerInfo">
                          <span>DEFENDER</span>
                          <span><i class="fa fa-heart"></i>34</span>
                          
                        </li>
                        
                      </ul>
                    </div>
                  </a>
                </li>
                <li>
                  <a href="">
                    <div class="playerFig">
                      <div class="playerpic">
                        <div  style="background:url(images/player/player03.jpg)" class="bgimg"></div>
                      </div>
                      <ul class="playerDetails clearfix">
                        <li>
                            <span>Alex Alameda</span>
                            <span><img src="images/icons/tShirt.png" alt="image"></span>
                        </li>
                        <li class="playinfodetails">
                          age 28 (born 22 april ,1987)
                        </li>
                        <li class="playerInfo">
                          <span>STRIKER</span>
                          <span><i class="fa fa-heart"></i>45</span>
                          
                        </li>
                        
                      </ul>
                    </div>
                  </a>
                </li>
                <li>
                  <a href="">
                    <div class="playerFig">
                      <div class="playerpic" > 
                        <div style="background:url(images/player/player04.jpg)" class="bgimg"></div>
                      </div>
                      <ul class="playerDetails clearfix">
                        <li>
                            <span>Lane Lavalley  </span>
                            <span><img src="images/icons/tShirt.png" alt="image"></span>
                        </li>
                        <li class="playinfodetails">
                          age 28 (born 22 april ,1987)
                        </li>
                        <li class="playerInfo">
                          <span>STRIKER</span>
                          <span><i class="fa fa-heart"></i>45</span>
                          
                        </li>
                        
                      </ul>
                    </div>
                  </a>
                </li>
                <li>
                  <a href="">
                    <div class="playerFig">
                      <div class="playerpic">
                        <div style="background:url(images/player/player05.jpg)" class="bgimg"></div>
                      </div>
                      <ul class="playerDetails clearfix">
                        <li>
                            <span>Dominick Dumbleton  </span>
                            <span><img src="images/icons/tShirt.png" alt="image"></span>
                        </li>
                        <li class="playinfodetails">
                          age 28 (born 22 april ,1987)
                        </li>
                        <li class="playerInfo">
                          <span>STRIKER</span>
                          <span><i class="fa fa-heart"></i>78</span>
                          
                        </li>
                        
                      </ul>
                    </div>
                  </a>
                </li>
              </ul> 

            </div>   
          </div>
        </div>
      </section> -->
        <!-- gallery -->
      <section class="gallery">
        <div class="container">
          <div class="row">
            <h2 class="heading">Galeria <span>de Imagenes</span></h2>
            <p class="headParagraph"></p>
            
          </div>
        </div>
        <div  class="galleryWrapper">
          <div class="grid">

            

            <div class="grid_item ">
              <div class="gallery_dtl"> 
                <img src="images/gallery/gallery02.jpg" alt="image">
                <div class="gallery_info">
                    <div class="galleryinfo_wrap">
                      <p class="uppercase"> </p>
                      <p class="red_p"> </p>
                    </div>

                </div> 
              </div>  
            </div> 

            
            
            <div class="grid_item ">
              <div class="gallery_dtl">
                <img src="images/gallery/gallery03.jpg" alt="image">
                <div class="gallery_info">
                    <div class="galleryinfo_wrap">
                      <p class="uppercase"> </p>
                      <p class="red_p"> </p>
                    </div>

                </div> 
              </div>
            </div>

            <div class="grid_item">
              <div class="gallery_dtl">
                <img src="images/gallery/gallery04.jpg" alt="image">
                <div class="gallery_info">
                    <div class="galleryinfo_wrap">
                      <p class="uppercase"> </p>
                      <p class="red_p"> </p>
                    </div>

                </div> 
              </div>  
            </div>
            <div class="grid_item">
              <div class="gallery_dtl">
                <img src="images/gallery/gallery021.jpg" alt="image">
                <div class="gallery_info">
                    <div class="galleryinfo_wrap">
                      <p class="uppercase"> </p>
                      <p class="red_p"> </p>
                    </div>

                </div> 
              </div>
            </div> 
            <div class="grid_item ">  
              <div class="gallery_dtl">
                <img src="images/gallery/gallery032.jpg" alt="image">
                <div class="gallery_info">
                    <div class="galleryinfo_wrap">
                      <p class="uppercase"> </p>
                      <p class="red_p"> </p>
                    </div>
                </div> 
              </div>  
            </div>  
           
            <div class="grid_item  ">  
              <div class="gallery_dtl">
                <img src="images/gallery/five.jpg" alt="image">
                <div class="gallery_info">
                    <div class="galleryinfo_wrap">
                      <p class="uppercase"> </p>
                      <p class="red_p"> </p>
                    </div>
                </div> 
              </div>  
            </div>  
            <div class="grid_item  ">  
              <div class="gallery_dtl">
                <img src="images/gallery/gallery031.jpg" alt="image">
                <div class="gallery_info">
                    <div class="galleryinfo_wrap">
                      <p class="uppercase"> </p>
                      <p class="red_p"> </p>
                    </div>
                </div> 
              </div>  
            </div>    
            <div class="grid_item">  
              <div class="gallery_dtl">
                <img src="images/gallery/masonry/medium_01.jpg"  alt="image">
                <div class="gallery_info">
                    <div class="galleryinfo_wrap">
                      <p class="uppercase"> </p>
                      <p class="red_p"> </p>
                    </div>
                </div> 
              </div>  
            </div>
            <div class="grid_item">  
              <div class="gallery_dtl">
                <img src="images/gallery/gallery041.jpg"  alt="image">
                <div class="gallery_info">
                    <div class="galleryinfo_wrap">
                      <p class="uppercase"> </p>
                      <p class="red_p"> </p>
                    </div>

                </div> 
              </div>  
            </div>
            <div class="grid_item">  
              <div class="gallery_dtl">
                <img src="images/gallery/masonry/medium_03.jpg" alt="image">
                <div class="gallery_info">
                    <div class="galleryinfo_wrap">
                      <p class="uppercase"> </p>
                      <p class="red_p"> </p>
                    </div>

                </div> 
              </div>  
          </div>
             <div class="gutter"></div>
            
          </div>
        </div>
       
        <a href="https://www.facebook.com/Copa-Viejo-Gasometro-238053553016980/photos_stream" target="_blank" class="btn btn-red"> Ver + Fotos</a>
      </section>  


      <!-- footer -->
      <footer ><!--class="footer-type01"-->
	 <%- include footer.ejs %>
      </footer>
    </div>
    

      
    <script src="js/vendor/vendor.js"></script>     
    <script src="js/main.js"></script>
        
</body>
</html>
