<!doctype html>
<html class="no-js" lang="">
  <head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Torneo de Fútbol Para Socios del Club Atlético San Lorenzo de Almagro</title>
    <link rel="shortcut icon" href="favicon.ico">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
     <link rel="stylesheet" href="vendor.css">       
     <link rel="stylesheet" href="style.css">   
     <link rel="stylesheet" type="text/css" href="css/layerslider.css">
    <script src="js/vendor/modernizr.js"></script>    
  </head>
  <body>
    <!--[if lt IE 10]>
      <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    <div class="wrapper">
      <!-- header -->
      <header class="header-main">
        <div class="header-lower clearfix">
			<%- include menu.ejs %>
        </div>  
</header>

       <!-- banner section -->
      <div class="innerbannerwrap">
        <div class="content"></div>
        <div class="innerbannersanciones">
          <h2 class="bannerHeadline">Sanciones Fecha 15<span></span></h2>
        </div>
      </div>

      <section class="innerpage_all_wrap bg-white"> 
        <div class="container">
			<div class="row">
			<div class="matchSchedule_details row">
                
              <div class="match_versus-wrap2">
                  <div class="wrap_match-innerdetails">
                    <ul class="point_table2">
                       <li class="clearfix">
                        <div class="subPoint_table">
                          <div class="headline01 largepoint1">JUGADOR</div>
                          <div class="headline01 largepoint1">NOMBRE DEL EQUIPO</div>
                          <div class="headline01 largepoint1 row row">
							<div class="headline01 smallpoint1"><span>SANCIÓN</span></div>
                        </div>
						</div>
                      </li>
					  <li class="clearfix">
                        <div class="subPoint_table">
                          <div class="headline01 largepoint1">Caputo, Norberto</div>
                          <div class="headline01 largepoint1">Forzosos</div>
                          <div class="headline01 largepoint1 row row">
							<div class="headline01 smallpoint1"><span>2 Años</span></div>
						  </div>
						</div>
                      </li>
                      <li class="clearfix">
                        <div class="subPoint_table">
                          <div class="headline01 largepoint1">Sierra, Guillermo</div>
                          <div class="headline01 largepoint1">Los Cuervos Del Pasaje</div>
                          <div class="headline01 largepoint1 row row">
							<div class="headline01 smallpoint1"><span>6 Fechas</span></div>
						  </div>
						</div>
                      </li>
                      <li class="clearfix">
                        <div class="subPoint_table">
                          <div class="headline01 largepoint1">Lirosi, Jonathan</div>
                          <div class="headline01 largepoint1">Los Colas De Av. La Plata</div>
                          <div class="headline01 largepoint1 row row">
							<div class="headline01 smallpoint1"><span>5 Fechas</span></div>
						  </div>
						</div>
                      </li>
                      <li class="clearfix">
                        <div class="subPoint_table">
                          <div class="headline01 largepoint1">Pardo, Juan Ignacio</div>
                          <div class="headline01 largepoint1">Donde Estés Estaré</div>
                          <div class="headline01 largepoint1 row row">
							<div class="headline01 smallpoint1"><span>5 Fechas</span></div>
						  </div>
						</div>
                      </li>
                      <li class="clearfix">
                        <div class="subPoint_table">
                          <div class="headline01 largepoint1">Amor, Guido</div>
                          <div class="headline01 largepoint1">Pasión Azulgrana F.C.</div>
                          <div class="headline01 largepoint1 row row">
							<div class="headline01 smallpoint1"><span>1 Fecha</span></div>
						  </div>
						</div>
                      </li>
                      <li class="clearfix">
                        <div class="subPoint_table">
                          <div class="headline01 largepoint1">Preliasco, Kevin Gabriel</div>
                          <div class="headline01 largepoint1">San Antonio</div>
                          <div class="headline01 largepoint1 row row">
							<div class="headline01 smallpoint1"><span>1 Fecha</span></div>
						  </div>
						</div>
                      </li>
                      <li class="clearfix">
                        <div class="subPoint_table">
                          <div class="headline01 largepoint1">Tobares, Emanuel</div>
                          <div class="headline01 largepoint1">San Francisco I</div>
                          <div class="headline01 largepoint1 row row">
							<div class="headline01 smallpoint1"><span>1 Fecha</span></div>
						  </div>
						</div>
                      </li>
                      <li class="clearfix">
                        <div class="subPoint_table">
                          <div class="headline01 largepoint1">Carretero, Hernán</div>
                          <div class="headline01 largepoint1">Pasión Azulgrana F.C.</div>
                          <div class="headline01 largepoint1 row row">
							<div class="headline01 smallpoint1"><span>1 Fecha</span></div>
						  </div>
						</div>
                      </li>
                      <li class="clearfix">
                        <div class="subPoint_table">
                          <div class="headline01 largepoint1">Corrao, Román</div>
                          <div class="headline01 largepoint1">Pasión Azulgrana F.C.</div>
                          <div class="headline01 largepoint1 row row">
							<div class="headline01 smallpoint1"><span>1 Fecha</span></div>
						  </div>
						</div>
                      </li>
                      <li class="clearfix">
                        <div class="subPoint_table">
                          <div class="headline01 largepoint1">Fernández, Víctor</div>
                          <div class="headline01 largepoint1">San Juan Y Boedo</div>
                          <div class="headline01 largepoint1 row row">
							<div class="headline01 smallpoint1"><span>1 Fecha</span></div>
						  </div>
						</div>
                      </li>
                       <li class="clearfix">
                       <div class="subPoint_table">
                          <div class="headline01 largepoint1">Laffusa, Luciano</div>
                          <div class="headline01 largepoint1">Los Colas De Av. La Plata</div>
                          <div class="headline01 largepoint1 row row">
							<div class="headline01 smallpoint1"><span>1 Fecha</span></div>
						  </div>
						</div>
                      </li>
                       <li class="clearfix">
                        <div class="subPoint_table">
                          <div class="headline01 largepoint1">Medina, Facundo</div>
                          <div class="headline01 largepoint1">Gauchos</div>
                          <div class="headline01 largepoint1 row row">
							<div class="headline01 smallpoint1"><span>1 Fecha</span></div>
						  </div>
						</div>
                      </li>
                    </ul>
					</div>
                  </div>
                </div>
 
		
            </div>
        </div>
		
		
      </section>
    

      <!-- footer -->
      <footer ><!--class="footer-type01"-->
	 <%- include footer.ejs %>
      </footer>
    </div>
    

      
    <script src="js/vendor/vendor.js"></script>     
    <script src="js/main.js"></script>
        
</body>
</html>
