<!doctype html>
<html class="no-js" lang="">
<head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Torneo de Fútbol Para Socios del Club Atlético San Lorenzo de Almagro</title>
    <link rel="shortcut icon" href="favicon.ico">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <link rel="stylesheet" href="vendor.css">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" type="text/css" href="css/layerslider.css">
    <script src="js/vendor/modernizr.js"></script>
</head>
<body>
<!--[if lt IE 10]>
<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->
<div class="wrapper">
    <!-- header -->
    <header class="header-main">
        <div class="header-lower clearfix">
            <%- include ../menu.ejs %>
        </div>
    </header>
    <!-- banner section -->
    <div class="innerbannerwrap">
        <div class="content"></div>
        <div class="innerbannergoleadores">
            <h2 class="bannerHeadline">Cargar datos del partido<span></span></h2>
        </div>
    </div>
    <% if (resultado) { %>
    <% if (resultado == 200) { %>
    <div class="alert alert-success">La operacion fue realizada con exito</div>
    <% } else { %>
    <div class="alert alert-danger">La operacion fallo. Inténtelo nuevamente más tarde</div>
    <% } %>
    <% } %>

    <div class="table-responsive" style="background-color: #b81e20; text-align: center" >
            <!-- show any messages that come back with authentication -->
            <% if (message.length > 0) { %>
            <div class="alert alert-danger"><%= message %></div>
            <% } %>

            <form name="formCargarPartido" method="post" id="formCargarPartido">
                <input type="hidden" class="form-control">

                <!--DATOS FIJOS -->
                <table class="table-bordered table-striped " style=" background-color: black; text-align: center; margin: 0 auto;">
                    <thead>
                    <tr style="background-color: darkblue">

                    <td class="form-group headline05" id="fecha_numero">
                        Numero Fecha:
                            <a class="headline08 largepoint1" id="nro-fecha-id" name="fecha_numero"></a>
                    </td>

                    <td class="form-group headline05" id="fecha">
                          DIA:
                            <a class="headline08 largepoint1" id="fecha-id" type="date" name="fecha"></a>


                    </td>

                    <td class="form-group headline05" id="division">
                        División:
                            <a class="headline08 largepoint1" id="division-id" name="division"></a>

                    </td>

                    </tr>
                    </thead>

            <tbody>
                <tr>
                <!-- DATOS VARIABLES -->


                    <td class="form-group" id="estado_partido" colspan="3" >
                        <br>
                        <div class="headline01 largepoint1">Estado partido
                            <select class="headline07" id="estado-id" name="estado_partido"></select>
                        </div>
                        <br>
                    </td>

                </tr>
				
				<tr>

                    <td class="form-group headline08" rowspan="2" style="text-decoration-color: #b81e20">

                        RESULTADO:

                    </td>

					<td class="form-group" id="equipo1" >
						<div class="headline01 largepoint1">
							<div class="headline01 largepoint1" id="team1-id" name="equipo1"></div>
						</div>
					</td>

					<td class="form-group" id="equipo2" >
						<div class="headline01 largepoint1"  >
							<div class="headline01 largepoint1" id="team2-id" name="equipo2"></div>
						</div>
					</td>

				</tr>
				
                <tr>


                    <td class="form-group" id="goles_equipo1" >
                        <div class="headline01 largepoint1">
                            <div class="headline01 largepoint1" id="goles1-id"></div>
                            <input class="headline07" type="number" min="0" value="0" name="goles_equipo1" id="goles1-id">
                        </div>
                    </td>


                    <td class="form-group" id="goles_equipo2" >
                        <div class="headline01 largepoint1"  >
                            <div class="headline01 largepoint1" id="goles2-id"></div>
                            <input class="headline07" min="0" value="0" type="number" name="goles_equipo2" id="goles2-id">
                        </div>
                    </td>


                </tr>

                 <tr>
                 <!--
                <div class="form-inline">

                    <div class="form-group">
                        <div class="headline01 largepoint1" role="tab" id="hAmonestados1-id">
                            <a class="collapsed" data-toggle="collapse" href="#amonestados1-id" aria-expanded="false" aria-controls="amonestados1-id">
                                Amonestados Equipo 1
                            </a>
                        </div>
                        <div class="headline06" name="amonestados1" id="amonestados1-id" class="collapse" role="tabpanel" aria-labelledby="hAmonestados1-id"></div>
                    </div>

                    <div class="form-group">
                        <div class="headline01 largepoint1" role="tab" name="amonestados2" id="hAmonestados2-id">
                            <a class="collapsed" data-toggle="collapse" href="#amonestados2-id" aria-expanded="false" aria-controls="amonestados2-id">
                                Amonestados Equipo 2
                            </a>
                        </div>
                        <div class="headline06" name="amonestados2" id="amonestados2-id" class="collapse" role="tabpanel" aria-labelledby="hAmonestados2-id"></div>
                    </div>
                </div>

                 </tr>


                <tr>
                <div class="form-inline">
                    <div class="form-group">
                        <div class="headline01 largepoint1" role="tab" id="hExpulsados1-id-id">
                            <a class="collapsed" data-toggle="collapse" href="#expulsados1-id" aria-expanded="false" aria-controls="expulsados1-id">
                                Expulsados Equipo 1
                            </a>
                        </div>
                        <div class="headline06" id="expulsados1-id" class="collapse" role="tabpanel" aria-labelledby="hExpulsados1-id"></div>
                    </div>

                    <div class="form-group">
                        <div class="headline01 largepoint1" role="tab" id="hExpulsados2-id">
                            <a class="collapsed" data-toggle="collapse" href="#expulsados2-id" aria-expanded="false" aria-controls="expulsados2-id">
                                Expulsados Equipo 2
                            </a>
                        </div>
                        <div class="headline06" id="expulsados2-id" class="collapse" role="tabpanel" aria-labelledby="hExpulsados2-id"></div>
                    </div>
                </div> -->

                </tr>
                 <!-- cambios , para implementar a futuro-->
  <!--              <div class="form-inline">
                    <div class="form-group">
                        <div class="headline01 largepoint1" role="tab" id="hCambios1-id">
                            <a class="collapsed" data-toggle="collapse" href="#cambios1-id" aria-expanded="false" aria-controls="cambios1-id">
                                Cambios Equipo 1
                            </a>
                        </div>
                        <div id="cambios1-id" class="collapse" role="tabpanel" aria-labelledby="hCambios1-id"></div>
                    </div>

                    <div class="form-group">
                        <div class="headline01 largepoint1" role="tab" id="hCambios2-id">
                            <a class="collapsed" data-toggle="collapse" href="#cambios2-id" aria-expanded="false" aria-controls="cambios2-id">
                                Cambios Equipo 2
                            </a>
                        </div>
                        <div id="cambios2-id" class="collapse" role="tabpanel" aria-labelledby="hCambios2-id"></div>
                    </div>
                </div>   -->


                <!--<button type="button" class="botonCancelar-id" href="/cargarPartido">Cancelar</button>-->

                <tr>

                    <td colspan="3">
                        <br>
                    <a href="/planillero"><input type="button" class="botonCancelar-id" value="Cancelar" /></a>
                <input type="hidden" id="idPartido" value=<%= partido._id %> name="partidoId"/>
                <button type="submit" id = "botonGuardarCambios-id" class="botonGuardarCambios-id">Guardar cambios</button>

                        <br>
                    </td>

                </tr>


            </tbody>
                </table>
            </form>


    </div>

    <!-- footer -->
    <footer >
        <!--class="footer-type01"-->
        <%- include ../footer.ejs %>
    </footer>
</div>

<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
<script src="js/vendor/vendor.js"></script>
<script src="js/main.js"></script>
<script src="js/admin.js"></script>
<script src="js/cargarPartido.js"></script>


</body>
</html>